<%
# Collecte en ligne
=begin

TODO

  * Pouvoir insérer les brins et les utiliser (CTRL + B)
  * Pouvoir se déplacer de prop en prop dans le champ collecte comme dans le
    champ personnages.

=end
 %>
<%=FilmAnalyse.titre_h2('Outil de collecte en ligne')%>

<%= FilmAnalyse::Collector.ui %>

<%
# ---------------------------------------------------------------------
#
#     AIDE
#
# ---------------------------------------------------------------------

%>
<hr>
<div class="small">
  <code>CTRL + A</code> : Aide
</div>

<%= FilmAnalyse::Collector.aide %>
