<%
# Page principale et accueil des analyses de film
%>
<h1>Analyses de film</h1>

<p>
  Section du site consacrée aux analyses de film, où sont exploités des outils informatiques et statistiques originaux et infiniment éclairants pour l'écriture et la narration.
</p>
