<%
# Vue pour le visionnage des analyses
%>
<%
def film
  @film ||= FilmAnalyse::Film::get(site.current_route.objet_id)
end

# Assets
page.add_css        Dir["./data/analyse/css/**/*.css"]
page.add_javascript Dir["./data/analyse/javascript/**/*.js"]

%>
<%= FilmAnalyse::titre_h1("Visionnage") %>
<% if user.identified? %>
  <% if true #film.exist? && film.analyzed? %>
    <% debug "On va afficher le film ##{film.id}" %>
    <%= film.output %>
  <% else %>
    <p>Film malheureusement introuvable ou pas visible (<%= film.html_file %> ).</p>
  <% end %>
<% else %>
  <p class='small italic'>En tant que simple visiteur, vous n'avez qu'un accès très limité aux analyses de film.</p>
<% end %>
