<%
# Une vue un peu speciale puisqu'elle doit interrompre le fonctionnement
# normal en retournant tout de suite la page demandée.
# Au départ, on ouvrait simplement le fichier HTML de l'analyse dans
# une autre fenêtre. Le problème est qu'on pouvait alors "hacker" toutes
# les autres analyses simplement en connaissant leur identifiant : il suffisait
# de taper l'adresse HTML du fichier pour l'ouvrir.
# Maintenant, on passe par ici, on vérifie que l'utilisateur peut ouvrir
# l'analyse, et on l'ouvre si c'est possible.
%>
<%
film = FilmAnalyse::Film::current

# Si l'utilisateur est autorisé à voir cette analyse, il peut la
# voir, sinon, on lui présente un message d'interdiction.
# L'analyse de Seven est toujours consultable.
if film.exist? && ( film.sym == 'seven' || film.user_autorized? )

%>
  <iframe
    id="frame_analyse"
    width="100%"
    height="100%"
    src="<%= film.html_file.to_s %>"
    style="position:fixed;top:0;left:0"></iframe>
<%
# Il faut ajouter du code pour supprimer l'interface normal pour
# qu'on puisse voir la page analyse complète.
%>
<script type="text/javascript">
$(document).ready(function(){
  $('section').hide();
  $('section#content').show();
})
</script>
  <%
else
  # L'user courant n'est pas autorisé à consulter l'analyse
%>
  <%= FilmAnalyse::titre_h1("Consultation impossible") %>
  <p class='warning big'>
    Vous n'êtes pas autorisé à consulter cette analyse, désolé.
  </p>
<% end %>
