<%
raise_unless_admin
raise_unless user.manitou?
raise_unless user.pseudo == 'Phil' && user.id == 1
%>
<h3>Bureau spécial de Phil</h3>


<h4>Pages Narration</h4>
<p>
  Pour les pages narration à corriger, relire, etc., utiliser la console et la commande `pages narration niveau X`.
</p>

<div class='right'>
  <%= "Afficher autres bureaux".in_a(onclick:"$('div#autres_bureaux').toggle()") %>
</div>
<div id="autres_bureaux" style="display:none">
  <% Dir["#{Admin::Dashboard::folder_admins}/*.erb"].each do |p| %>
    <%
      # On passe le bureau de l'user courant s'il a un bureau
      # propre
      uid = File.basename(p).split('-')[0].to_i
      next if user.id == uid || uid == 1
    %>
    <%= Vue::new(p.sub(/^\.\/objet\//,'')).output %>
  <% end %>
</div>
