<%
raise_unless_admin
raise_unless user.manitou?
raise_unless user.pseudo == 'Phil' && user.id == 1
%>
<h3>Bureau spécial de Phil</h3>

<h4>À faire après création de page</h4>
<ul>
  <li>L'ajouter dans la sitemap du site (<code>./objet/site/sitemap.yaml</code>) et la <a href="https://www.google.com/webmasters/tools/sitemap-list?hl=fr&siteUrl=http://www.laboiteaoutilsdelauteur.fr/#MAIN_TAB=0&CARD_TAB=0">renvoyer à Google</a></li>
  <li>L'ajouter dans les updates du site (commande <code>update[TAB]</code>)</li>
  <li>Faire une annonce si nécessaire sous forme de tweet permanent (commande <code>tweet P ...</code>)</li>
</ul>

<h4>Pages Narration</h4>
<p>
  Pour les pages narration à corriger, relire, etc., utiliser la console et la commande `pages narration niveau X`.
</p>

<div class='right'>
  <%= "Afficher autres bureaux".in_a(onclick:"$('div#autres_bureaux').toggle()") %>
</div>
<div id="autres_bureaux" style="display:none">
  <% Dir["#{Admin::Dashboard::folder_admins}/*.erb"].each do |p| %>
    <%
      # On passe le bureau de l'user courant s'il a un bureau
      # propre
      uid = File.basename(p).split('-')[0].to_i
      next if user.id == uid || uid == 1
    %>
    <%= Vue.new(p.sub(/^\.\/objet\//,'')).output %>
  <% end %>
</div>
