<%
# Partie propre à Marion Michel

raise_unless_admin
raise_unless user.manitou? || (user.pseudo == "Marion" && user.id == 3)

%>
<h3>Bureau spécial de Marion Michel (<em>alias “petit bébé d'amour”</em>)</h3>

<h4>Liste des pages de la Collection Narration à lire/corriger</h4>
<p class='small'>
 Il en branle pas une, le petit Pilou d'amour… Alors que la piloute, qu'est-ce qu'elle bosse, alors !!!
</p>
<h5>Premières relectures</h5>
<%= Cnarration::pages_a_relire %>

<h5>Secondes relectures (validations finales)</h5>
<%= Cnarration::pages_derniere_lecture %>
