<%
# Cette vue est atteinte lorsque l'user vient de payer avec succès
# son inscription au programme UN AN UN SCRIPT
#
raise_unless_identified
%>
<p>
  Waouh ! C'est une grande décision que vous venez de prendre ! :-D.
</p>
<p>
  Vous êtes à présent bient parti<%= f_e %> pour entreprendre le long voyage de l'auteur grâce au programme “Un An Un Script”.
</p>
<p>
  Mais nous n'allons pas nous jeter à corps perdu sur notre premier document. La première chose que vous allez faire, c'est fermer les yeux et tenter de vous projeter dans un an…
</p>
<p>
  Dans un an, si vous vous en êtes donné<%= f_e %> la peine, vous aurez votre script de film ou votre manuscrit de roman, et vous en connaitrez plus d'un bout sur la narration et l'art de l'écriture.
</p>
<p>
  Fermez les yeux, et imaginez cela. Puis revenez à ce texte.
</p>
<p>
  Nous allons maintenant définir le type de projet que vous voulez écrire, roman ou film. Si vous l'ignorez encore, peu importe pour le moment.
</p>
