ul#quizes
  li.li_quiz
    span.qtitre
      font-size   : 1.1em
      font-family : Arial
    // Le lien pour tenter le quiz
    span.qlink
      float       : right
    div.qdescription, div.qinfos
      margin-left   : 6em
      font-size     : 0.75em      
    div.qdescription
      font-style    : italic
    div.qinfos
      > span 
        margin-right  : 1em