<%
# Liste de tous les quiz
page.description= "Liste de tous les quiz conçus jusqu'à aujourd'hui. Testez votre niveau en écriture et en cinéma !"
enable_comments
%>
<%= Quiz.titre_h2('Tous les quizzzz') %>
<%= Quiz.as_ul %>
<% if user.admin? %>
  <h3>Questionnaires hors-liste</h3>
  <%= Quiz.hors_liste_as_ul %>
<% end %>
