<%
# Vue permettant de créer un nouveau Quiz
%>

<%
# Accès réservé à un administrateur
raise_unless_admin
%>

<%= Quiz.titre_h1('Nouveau quiz') %>
<p class="italic">
  Choisir la base dans laquelle créer le nouveau questionnaire.
</p>
<p class=''>
  <% Quiz.all_suffixes_quiz.collect do |sufbase| %>
    <%= "Nouveau quiz dans la base “#{sufbase.capitalize}”".in_a(href: "quiz/edit?qdbr=#{sufbase}").in_p %>
  <% end.join('') %>
</p>
<form class="dim2080" action="quiz/new" method="POST">
  <%= 'creer_new_base_test'.in_hidden( name: 'operation' ) %>
  <p>
    Nouvelle base de quiz : <input type="text" class='milong' name="new_base_test_name" id="new_base_test_name" value="">
      <input type="submit" value="Créer la base" class='small btn' />
  </p>
  </div>
</form>
