<h3>Grades du forum</h3>
<p>
  Votre grade sur le forum détermine vos privilèges.
</p>
<p>
  En effet, à l'instar des sites informatiques réputés comme <%= 'stackoverflow'.in_a(href: 'http://stackoverflow.com') %> par exemple, le forum de <%= site.name %> est hautement modéré et ne peuvent s'y exprimer totalement que les membres autorisés.
</p>
<p>
  Cela peut paraitre restrictif, mais cela permet d'obtenir une information fiable sur tout sujet concernant l'écriture, contrairement à la plupat des forums similaires où les idées reçues et les faux bons conseils vont bon train.
</p>
<p>
  Pour de plus amples explications, voir le <%= lien.forum %>.
</p>
