<h3>Le Programme <%= Unan::PROGNAME_DIM_MAJ %></h3>
<p>
  Le programme <%= Unan::PROGNAME_MAJ %> est un programme d'accompagnement unique en son genre qui vous accompagne dans l'écriture d'un scénario ou d'un roman pendant une année tout en vous faisant découvrir en profondeur la dramaturgie.
</p>
<p>
  Pour de plus amples renseignements, <%= DOIGT %><%= lien.unanunscript("le programme #{Unan::PROGNAME_DIM_MAJ}") %>.
</p>
