<%
raise_unless_admin
%>
<%= Citation.titre_h2('Administration') %>
<p>Cette section permet d'administrer les citations. Pour le moment, elle ne sert qu'à “sortir” 5 citations sans explicitation, pour les entrer.</p>
<%
# ---------------------------------------------------------------------
#     Citations sans explicitation
# ---------------------------------------------------------------------
%>
<%= Citation.ul_citations_sans_explicitation %>
<%= Citation.nombre_citations_par_auteur %>
