<%
# Manuel d'utilisation de la collecte en ligne
#
# TODO: À implémenter
%>
<p>
  La collecte en ligne sera bientôt possible grâce à l' <%= "éditeur de collecte en ligne".in_a(href:'analyse/collecte') %>.
</p>
