// Le DIV qui contient la facture, pour
// pouvoir la centrer au départ (calcul) puis la mettre en taille
// et alignenment normal
div#conteneur_facture
  text-align      : center

ol#description_processus
  margin-top      : 4.5em
  margin-bottom   : 0
  
// Le DIV de la facture
// Noter les deux modes : `mode_calcul' quand il s'agit du 
// calcul des montants et le monde `mode_print' quand il s'agit de
// la mise en forme
div#div_facture
  text-align    : left
  padding       : 2em
  margin        : 0
  &.mode_calcul
    border        : 1px solid
    border-radius : 1em
    display       : inline-block
    width         : 520px
  &.mode_print
    border        : 0
    border-radius : 0
    display       : block

  // Bas de page
  div#mention_agessa
    font-size   : 9pt
    font-style  : italic
  div#signature_emetteur
    margin-left : 333.3px // ~10cm
    margin-top  : 1em
  div#emplacement_signature
    font-size             : 1.2em
    font-style            : italic
    color                 : #AAA
    margin-top            : 60px
    margin-left           : 330px
    -moz-transform        : rotate(-45deg)
    -moz-transform-origin : 0 0

body
  &.when_formate_facture
    background-color      : #3D3D3D
    margin-left           : 4em
    margin-top            : 0
    section#content
      margin            : 0 !important
      padding           : 0 !important
      background-color  : inherit
      > div
        margin            : 0.5em
    div#page_facture
      line-height       : 1.45em
      padding           : 66.66px // = 2cm
      marging           : 0
      width             : 566.61px !important // = 17cm !important
      max-width         : 566.61px !important // = 17cm !important
      min-width         : 566.61px !important // = 17cm !important
      min-height        : 840px // = 25.7cm
      max-height        : 840px // = 25.7cm
      height            : 840px // = 25.7cm
      background-color  : white
      // border            : 1px dashed red
      font-size         : 12pt !important
      div#div_facture_numero
        font-size   : 10pt
      div#div_facture_objet
        padding     : 0.5em
        border      : 1px solid
        margin-top  : 0
      div#client_name, div#emetteur_facture
        font-weight   : bold
        font-variant  : small-caps
        font-size     : 1.1em
      div#facteur_type
        margin        : 1em 0
      div#div_net
        border            : 1px solid #ABABAB
        padding-top       : 0.3em
        padding-bottom    : 0.3em
        padding-left      : 2em
        margin-top        : 1em
        margin-bottom     : 1em
        font-weight       : bold
      div#div_ht, div#div_ttc
        padding-top       : 0.2em
        padding-bottom    : 0.2em
        padding-left      : 0.5em
        background-color  : #DDD
      div#div_ttc
        margin-top          : 1em
      div#libelle_a_deduire
        margin-top        : 1em
        font-style        : italic
      div.inner
        margin-left       : 2em
        font-size         : 0.95em
        
      div#signature_emetteur
        margin-top          : 2em
      pre
        font-family         : inherit
        font-size           : inherit
        font-style          : inherit
        margin-top          : 0
      div.montant
        // pour détacher tout du bord droit en gardant l'alignement
        // de tous les montants
        padding-right   : 12px

    div#div_date_facture
      float: right
      font-style: italic

    div#coordonnees_client
      margin-left: 8cm

div.intitule-montant
  width: 340px
  float: left

div.montant-montant
  text-align: right

@media screen
  div#explication
    display           : block
  div#indication-signature
    visibility       : visible
  input#btn-print
    visibility       : visible
  .editable
    background-color : #DDD

@media print
  body
    margin            : 0 !important
    padding           : 0 !important
    width             : 700px
    min-width         : 700px
    max-width         : 700px
    background-color  : white
    div#page_facture
      padding           : 0 !important
    .hidden_when_print
      display : none