<p>
  S'il existe, cet onglet présente la description statistique des <em>brins</em> de l'histoire (cf. le cours pour connaitre la définition des brins), à commencer par les brins “personnages” (constitués de toutes les scènes où le personnage est présent) et les brins “relation inter-personnages” (constitués de toutes les scènes où deux personnages sont en relation).
</p>
<%= (FilmAnalyse::Manuel::texte_type :fiche_type, {chose: "brin", de_la:'du'} ) %>
