<p>
 Si cet onglet existe, il présente la liste des informations récoltées au cours du film.
</p>
<%= (FilmAnalyse::Manuel::texte_type :fiche_type, {chose: "information", la_chose:"l'information", les_choses: "les informations", de:"d'", de_la:"de l'"} ) %>
