<p>
  Cet onglet affiche les données sur les personnages du film, avec des informations principalement temporelles sur le personnage :
</p>
<ul>
  <li>Son entrée en scène ;</li>
  <li>Sa sortie de scène ;</li>
  <li>Sa durée de jeu (en fonction des scènes dans lesquelles il est présent) ;</li>
  <li>Le pourcentage de temps que cela représente par rapport à la durée totale du film.</li>
</ul>
<p>
  Une ligne de temps (<em>timeline</em>) représentant toute la durée du film, depuis le début à gauche jusqu'à la fin à droite, sous ces informations temporelles, indique quand le personnage est présent dans le film.
</p>
<p>
  En cliquant sur le lien “Citations et relations” en regard du nom d'un personnage, on peut obtenir une multitude d'autres informations sur les endroits où est cité le personnage (notes, documents, etc.) ainsi que les relations qu'il entretient avec les autres éléments (personnages, brins, etc).
</p>
<p>
  Enfin, un encart en haut à droite du panneau présente le classement par durée de présence à l'écran de tous les personnages avec le pourcentage de temps total que cela représente.
</p>
