<p>
  S'il existe, cet onglet affiche la liste chronologique des <em>Questions Dramatiques</em> qui se sont posées au cours du film, celles collectées par l'analyse.
</p>
<p>
  Noter que ce sont ces questions dramatiques que l'on retrouvera dans le <em>diagrame dramatique</em> du film (cf. cet onglet).
</p>
<%= (FilmAnalyse::Manuel::texte_type :fiche_type, {chose: "question dramatique", choses:"questions dramatiques", les_choses: "les questions dramatiques"} ) %>

<h4>Éléments supplémentaires</h4>
<p>
  En plus de ces éléments communs, on trouve dans la fiche des questions dramatiques l'indication de la réponse (la <em>réponse dramatique</em>) à la question posée, avec sa position sur le ligne de temps du film.
</p>
