<p>
  Cet onglet affiche le classement des scènes par durée, les scènes les plus longues en premier, les scènes les plus courtes en dernier.
</p>
<p>
  Un encart en haut du panneau donne une description statistique concernant les scènes :
</p>
<ul>
  <li>Le nombre total de scènes ;</li>
  <li>La scène la plus longue ;</li>
  <li>La scène la plus courte ;</li>
  <li>La moyenne de durée d'une scène.</li>
</ul>
<p>
  <strong>Astuce</strong> : En cliquant sur le numéro de la scène, on peut présenter sa fiche et indiquer sa position dans le film sur la timeline générale (la ligne de couleur sous les onglets).
</p>
