<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>cuvyvccr.creerg@lnubb.se</string>
	<key>contactName</key>
	<string>Philippe Perret</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>_Phil: Markdown Narration</string>
	<key>uuid</key>
	<string>CEFA10DC-FB4D-4EE6-AAAA-C11C6DADF034</string>
</dict>
</plist>
