<%
# Page d'accueil et principale du calculateur de structure
%>
<h1>Calculateur de structure</h1>
<% if user.identified? %>

<% else %>
  <p>
    Cette section propose un outil pour calculer votre structure.
  </p>
<% end %>
