/* Styles pour le calculateur de structure */

table#structure_ideale
  font-size : 14.3pt
  border    : 1px solid black

  td
    text-align  : center

  tr#sttideale-titres 
    td
      color             : white
      background-color  : #578088
      font-weight       : bold
      font-style        : italic


  tr#ligne-duree
    height    : 60px

    td, td select, td option
      border        : 0
      font-size     : 21.7pt

    td select
      border : 0

  td.noeud
    text-align    : left
    font-weight   : bold

  td.explicationcachee
    text-align        : justify
    border            : 1px solid grey
    background-color  : #EEEEEE

  td.explicationaffichee
    text-align        : justify
    border            : 1px solid grey
    background-color  : #EEEEEE
