<%
# Vue pour le tutoriel (screencast) sur la collecte avec TextMate
%>
<p>
  La collecte des informations du film est très aisée grâce au bundle TextMate. Vous pouvez le constater en consultant le screencast ci-dessous qui se passe de commentaires ;-).
</p>
<p>
  [IFRAME DU SCREENCAST ICI]
</p>
