<%
# Description du fonctionnement général
%>
<%= Unan::titre_h1 %>
<h2>Fonctionnement général</h2>

<p>
  Chaque “jour-programme” <sup>(*)</sup>, un mail vous est envoyé, vous présentant votre travail.
</p>
<p>
  La première chose que vous devez faire est de <strong>confirmer le démarrage de votre travail</strong>. Vous devez le faire depuis votre “bureau” du programme, grâce au bouton “confirmer démarrage du travail 3e jour” (ou bouton similaire).
</p>
