<%
# Page d'accueil pour découvrir le programme 1 AN 1 SCRIPT
%>
<%= Unan::titre_h1 %>
<h2>Présentation</h2>

<h3>C'est quoi ce drôle de programme ?…</h3>
<p>
  Le programme “1 an 1 script” est un programme qui, au cours d'<strong>une année</strong>, vous accompagne dans <strong>l'écriture d'un film, d'un roman ou d'une BD</strong>, tout en vous enseignant l'<strong>art de la narration</strong>.
</p>
<p class='small'>
  Cela signifie qu'au cours de ce programme qui vous accompagne <strong>au quotidien</strong>, vous êtes amené à travailler parallèlement tant au niveau de la <strong>pratique</strong> qu'au niveau de la <strong>théorie</strong>, que vous développez votre <strong>savoir</strong> tout autant que votre <strong>savoir-faire</strong>. Il n'existe aucune autre voie pour apprendre à écrire à réaliser ses rêves.
</p>
<p class='small'>
  Côté pratique, vous allez apprendre et parvenir à écrire votre film, votre roman, votre BD ou toute autre forme d'histoire, depuis la recherche de l'idée jusqu'à la version 2 du scénario ou du manuscirt. Côté théorique, vous allez apprendre de façon rigoureuse mais non moins ludique l'art de la narration, à l'aide de fiches de cours complètes, de jeux et de questionnaires.
</p>
<p>
  Le <strong>but ultime</strong> de ce programme est donc de vous faire achever cette année de travail avec, sous le bras, un manuscrit ou un scénario digne de ce nom et, dans la tête, de très solides et profitables notions de narration. Tout cela de façon <em>motivante</em> et <em>ludique</em>.
</p>

<h3>Pourquoi ce programme ?</h3>
<p>
  Il découle du constat fait par <strong>Phil Perret</strong>, concepteur de ce programme unique en son genre, que la plupart des personnes qui veulent écrire et ne parviennent pas à leur but sont simplement victimes d'un manque de méthode, d'un manque de connaissance et d'un manque de stimulation.
</p>
<p class='small'>
  Ce programme, par son aspect ludique, par le fait qu'il accompagne l'auteur au quotidien en définissant chaque jour et très précisément le travail à accomplir, permet de <strong>vaincre la procrastination</strong> de façon radicale.
</p>

<h3>Combien ça coûte ?</h3>
<p>
  Le tarif unique de ce programme est actuellement de <strong><%= Unan::tarif_humain %></strong> ce qui, eu égard au savoir et au savoir-faire enseigné est un prix dérisoire.
</p>
<p>
  À ce prix peut s'ajouter, <em>mais seulement si l'auteur le désire</em>, des lectures ponctuelles commentées de ses différents travaux, dont le tarif fluctue en fonction du volume des-dits travaux.
</p>
<p>
  L'auteur peut également faire appel à des lecteurs plus ou moins chevronnés du forum, mais les tarifs sont alors purement symboliques (de 1 à 5€ pour les plus expérimentés des lecteurs) et ne visent qu'à responsabiliser auteur comme lecteur.
</p>
<p class='small'>
  Notez qu'après avoir suivi ce programme, vous pourrez vous aussi proposer vos services sur le forum et donner des avis payants.
</p>

<h3>Pourquoi un an ?</h3>
<p>
  Un an, c'est une durée qui peut sembler longue, mais ça n'est en réalité qu'à peine plus que le temps moyen que prend un auteur professionnel pour concevoir un film ou un roman.
</p>
<p class='small'>
  Noter que cette durée peut être adaptée à vos désirs et vos possibilités puisque vous pouvez, au commencement du programme ou en cours de programme, définir <strong>votre propre rythme</strong> d'avancée, en accélérant le travail — par exemple si vous écrivez votre second scénario avec ce programme et que vous ne désirez pas reprendre tous les cours — ou en le ralentissant si vous voulez vous donner plus de temps pour approfondir et intégrer les notions abordées.
</p>

<h3>Seul(e) au monde ?</h3>
<p>
  Bien que ce programme vise à développer l'autonomie complète de l'auteur(e), il ou elle peut recevoir sur le site des avis tout au long de son programme par le biais du <a href="forum/home" target="_new">forum</a> que fréquentent des auteurs amateurs et professionnels.
</p>

<h3>Pas assez clair ?</h3>
<p>
  Si cette courte présentation ne vous semble pas assez claire, n'hésitez pas à <a href="unan/contact" target="_new">contacter Phil</a> pour obtenir de plus amples informations sur ce programme qu'il vous fera découvrir avec beaucoup de plaisir et d'enthousiasme.
</p>
<p>
  Vous êtes prêt ou prête à vous lancer ?… Alors <a href="unan/signup">inscrivez-vous</a> au programme “Un An Un Script” !
</p>
