<%
# Affichage de la liste des exemples
raise_unless_admin
%>
<%= Unan::titre_h2("Liste des exemples") %>
<% if nombre_exemples == 0 %>
  <p>Aucun exemple pour le moment.</p>
<% else %>
  <%= boite_filtre %>
  <ul id="exemples">
  <% ids_exemples.each do |eid| %>
    <%= Unan::Program::Exemple::get(eid).as_li %>
  <% end %>
  </ul>
<% end %>
<div class="right">
  <%= "Créer un nouvel exemple".in_a(href:"exemple/edit?in=unan_admin") %>
</div>
