<%= Unan::Aide::titre("Indiquer qu'un travail est achevé") %>
<h4>Pour une tâche</h4>
<p>
  Pour marquer une tâche achevée, vous devez rejoindre votre centre de travail après vous être identifié<%= user.f_e %>, activer l'onglet “Tâches” et cliquer sur le bouton “Marquer ce travail fini”.
</p>
<p>
  La tâche devrait alors apparaitre dans la section des tâches récemment terminées.
</p>

<h4>Pour une page de cours</h4>
<p>
  Pour marquer une lecture de page de cours achevée, vous devez rejoindre votre centre de travail après vous être identifié<%= user.f_e %>, vous devez activer l'onglet “Cours” et cliquer sur le bouton “Marquer la page lue”.
</p>
<p>
  La page devrait alors apparaitre dans la section des pages récemment lues.
</p>

<h4>Pour un questionnaire</h4>
<p>
  Un questionnaire est automatiquement marqué achevé lorsque vous le remplissez correctement et que vous le soumettez.
</p>
