<fieldset id="fs_liens_utiles">
  <legend>Liens utiles</legend>
  <ul class='small'>
    <li><a href="<%= url_bureau_unan %>">Rejoindre votre bureau</a></li>
    <li><a href="<%= url_bureau_unan %>&cong=preferences">Régler vos préférences</a></li>
    <li><a href="<%= url_bureau_unan %>&cong=aide">Aide pour le programme</a></li>
  </ul>
</fieldset>
