div#table_header, div#films
  font-size     : 13pt !important
  line-height   : 1.6em !important
  margin-left   : 0 !important
  // Span du titre
  span.filmvalue
    display         : inline-block !important
    width           : 420px
    max-width       : 420px
    overflow        : hidden
    white-space     : nowrap
    vertical-align  : middle
    padding         : 0 0 0 8px
    margin-right    : 12px
    span.titre
      width           : 90%
      overflow        : hidden
  span.filmvalue, span.filmvalue > *
    font-size       : 13pt !important
  span.colvalue, a.colvalue
    display         : inline-block !important
    text-align      : center

div#table_header
  border-bottom    : 1px solid #555
  span.colvalue
    width           : 57px
    font-size       : 9pt !important
  
div#films
  overflow          : auto
  height            : 300px
  max-height        : 300px
  margin-left       : 0 !important
  div.film
    &:hover, &:hover a
      background-color  : #578088
      color             : white !important
    span.colvalue, a.colvalue
      width             : 58px
      margin            : 1px 2px
  
  
  
