<%
# Administration de la section Analyse
# Pour le moment, surtout utilisé pour dire si un film doit être visible
# ou non par des inscrits/abonnés
raise_unless_admin
%>
<%= FilmAnalyse::titre_h1("Administration") %>

<%
# La rangée du haut, indiquant les libellés car les données contiendront
# seulement "oui" ou "non"
%>
<div id="table_header">
  <span class='filmvalue'>Film</span>
  <span class='colvalue'>Analysé</span>
  <span class='colvalue'>Inscrit</span>
  <span class='colvalue'>Abonné</span>
  <span class='colvalue'>Type TM</span>
  <span class='colvalue'>Lisible</span>
  <span class='colvalue'>En cours</span>
  <span class='colvalue'>Lecture</span>
  <span class='colvalue'>Finie</span>
</div>
<div id="films">
  <%
  # Liste des films, avec un lien pour définir leur niveau de visibilité
  # Il s'agit de deux boutons (suivant l'état du film qui est un troisième
  # bouton) permettant de modifier l'état.
  indexfilm = 0
  FilmAnalyse::table_filmodico.select(order:"titre ASC", colonnes:[:titre, :titre_fr, :annee]).each do |fid, fdata|
    indexfilm += 1

    ifilm = FilmAnalyse::Film::new(fid)

    # Si le film vient d'être créé sur le Filmodico, il n'existe peut-être
    # pas encore dans les films analysés. Il faut donc l'enregistrer,
    # avec le même identifiant pour qu'il y ait une jointure entre les
    # deux tables.
    ifilm.create if ifilm.exist? == false

    ifilm.set_data fdata
  %>
    <%= ifilm.as_admin_li %>
  <%
  end # Fin de boucle sur tous les films du scénodico
  %>
</div><%# / div#films %>
<div class="right air">
  <%= "Appliquer".in_a(id:"btn_apply", class:'btn medium', onclick:"$.proxy(Analyse,'save_films_options')()", style:"display:none") %>
</div>
<fieldset class='small'>
<legend>Filtre</legend>
<%
[
  ["Seulement les films analysés", 'only_analyzed'],
  ["Type TM (TextMate)", 'only_tm']
].each do |titre, sym|
%>
  <%= titre.in_checkbox(id:"cb_#{sym}", onchange:"$.proxy(Analyse,'filtre_liste_films')()") %>
<% end %>
</fieldset>

<p class='small discret'>
  <table>
    <colgroup>
      <col width="120" />
      <col width="820" />
    </colgroup>
      <tr>
        <td class='bold'>Analysé&nbsp;&nbsp;</td>
        <td>Mettre à "oui" si le film possède une analyse, TM ou autre.</td>
      </tr>
      <tr>
        <td class='bold'>Inscrit&nbsp;&nbsp;</td>
        <td>Mettre à "oui" s'il faut être inscrit au site pour pouvoir lire l'analyse.</td>
      </tr>
      <tr>
        <td class='bold'>Abonné&nbsp;&nbsp;</td>
        <td>Mettre à "oui" s'il faut être abonné au site pour pouvoir lire l'analyse.</td>
      </tr>
      <tr>
        <td class='bold'>Type TM&nbsp;&nbsp;</td>
        <td>Mettre à "oui" si l'analyse est de type TM, c'est-à-dire TextMate dernière version.</td>
      </tr>
      <tr>
        <td class='bold'>Lisible&nbsp;&nbsp;</td>
        <td>Mettre à "oui" à partir du moment où l'analyse peut être lue, même si elle n'est pas achevée. Fonctionne en général avec la colonne “En cours”</td>
      </tr>
      <tr>
        <td class='bold'>En cours&nbsp;&nbsp;</td>
        <td>Mettre à "oui" si le film est en cours d'analyse.</td>
      </tr>
      <tr>
        <td class='bold'>Lecture&nbsp;&nbsp;</td>
        <td>Mettre à "oui" si l'analyse doit être lue par les participants, les analystes du site.</td>
      </tr>
      <tr>
        <td class='bold'>Finie&nbsp;&nbsp;</td>
        <td>Mettre à "oui" quand l'analyse est terminée.</td>
      </tr>
  </table>

</p>
