div#table_header, div#films
  font-size     : 13pt !important
  line-height   : 1.6em !important
  margin-left   : 0 !important
  // Span du titre
  span.filmvalue
    display         : inline-block !important
    width           : 480px
    max-width       : 480px
    overflow        : hidden
    white-space     : nowrap
    vertical-align  : middle
    padding         : 0 0 0 8px
    margin-right    : 12px
    span.titre
      width           : 90%
      overflow        : hidden
  span.filmvalue, span.filmvalue > *
    font-size       : 13pt !important
  span.colvalue, a.colvalue
    display         : inline-block !important
    text-align      : center
    // Pour les cellules qui contiennent le type de l'analyse (TM,
    // MYE, etc) il faut élargir la cellule
  a[id$="-b3"]
    width         : 50px !important
    max-width     : 50px !important
    padding       : 0 !important

div#table_header
  border-bottom    : 1px solid #555
  span.colvalue
    font-size       : 9pt !important
    width             : 40px
    &.large
      width           : 53px
  
div#films
  overflow          : auto
  height            : 300px
  max-height        : 300px
  margin-left       : 0 !important
  div.film
    &:hover, &:hover a
      background-color  : #578088
      color             : white !important
    a.colvalue
      width             : auto
      margin            : 1px 2px
      padding           : 0px 14px
  
  
  
