<%
# Aide pour l'administration
raise_unless_admin
%>
<%= Cnarration.titre_h1("Aide administration") %>
<%
  fullpath = File.expand_path('./objet/cnarration/admin/aide.html')
  `open "#{fullpath}"`
%>

<div class="warning big air">
  Le fichier d'aide HTML a été ouvert dans une autre fenêtre. Pour actualiser ce fichier, ouvrir le fichier `objet/cnarration/admin/aide.md` dans Mou et produire la version HTML.
</div>

<h4>Balises spéciales</h4>
<p>
  <strong>film:&lt;ID du film&gt;</strong> ou <strong>FILM[&lt;ID du film&gt;]</strong>
</p>
<p>
  <strong>mot:&lt;ID du mot&gt;</strong> ou <strong>MOT[&lt;ID mot&gt;::&lt;le mot à afficher&gt;]</strong>
</p>
<p>
  <strong>personnage:&lt;personnage&gt;</strong> ou <strong>personnage:|&lt;prénom nom&gt;|</strong>
</p>
<p>
  Les termes techniques : <strong>tt:&lt;terme&gt;</strong> ou <strong>tt:|&lt;terme technique&gt;|</strong>
</p>

<h4>Liens vers des livres de la collection</h4>

<p>
  Utiliser : `lien.la_structure`, ou `lien.les_personnages` etc.
</p>
<p>
  Cf. le fichier `<%= lien.edit_file('/Users/philippeperret/Sites/WriterToolbox/objet/cnarration/lib/required/liens.rb') %>`
</p>
