<%
raise_unless_admin
%>
<%= Cnarration::titre_h1("État des lieux") %>
<h3>Données statistiques par livre</h3>
<pre class='small'>
  <%= Cnarration::data_statistiques_per_book %>
<span class='tiny discret'>La colonne “MOY” (verte) indique le nombre de pages <u>papier</u>, c'est-à-dire les pages qui seront vraiment
insérrées dans la collection. La colonne suivante (“ALL”) indique le nombre de pages moyennes en comptant
toutes les pages, même les pages seulement lisible dans la version en ligne.</span>
</pre>


<h3>Données statistiques générales</h3>
<pre>
<%= Cnarration::donnees_statistiques %>
</pre>

<h3>Pages classées par niveau de développement</h3>
<div class='small'>
  <%= Cnarration::pages_par_niveau_developpement %>
</div>
