div#tdm
  > div
    line-height   : 1.4em
    border-width    : 1px 0
    border-style    : solid
    border-color    : transparent
    &.page
      height          : 26px
    &:hover
      border-color   : #00F
    // Le div des infos des pages/titres
    div.iinfos
      float     : right
      font-size : 0.8em
      // Les images pour les boutons d'édition
      img
        width : 14px
      span, a
        margin-left : 12px
      // Le div du niveau de développement
      div.divdev
        display   : inline-block
        position  : relative
        width     : 14px
        margin-left : 32px
        height    : 18px
        > div
          position  : absolute
          bottom    : 0
          width     : 100%
          &.da
            background-color  : green
          &.do
            background-color  : orange
          &.dw
            background-color  : red

  font-size   : 18pt
  // L'ID de l'élément concerné
  span.iid
    margin-right  : 1em
    font-size     : 16.4px
  div.chapitre
    font-size   : 1em
    margin-left : 0
  div.sous_chapitre
    font-size   : 0.85em
    margin-left : 2em
  div.page
    font-size   : 0.7em
    margin-left : 4em