div.work
  padding         : 1em
  border          : 1px solid #999
  border-radius   : 0.5em
  margin          : 1em
  position        : relative
  
  div.div_titre
    span.titre
      font-size   : 1.2em
    span.type
      float       : right
      font-size   : 0.8em
      font-style  : italic
    &:before
      content     : "Travail"
      font-style  : italic
      color       : #AAA
      position    : absolute
      top         : -18px
      left        : 20px
      padding     : 0 10px
      background-color: white
  div.autres_infos
    margin-left     : 4em
    font-size       : 0.85em
    opacity         : 0.9
    span.info
      margin-right    : 1.5em
      white-space     : nowrap
  
div.pday
  div.work
    font-size       : 15pt
    margin-left     : 4em