<%
# Vue pour affiche un abs-work
#
# Fonctionnement : On crée un Work virtuel, et on affiche sa
# fiche telle qu'affichée dans le centre de travail de l'auteur.
# Note : On mets son @is_completed a true pour empêcher d'afficher
# tout ce qui est dynamique (peut-être, plus tard, pour avoir un
# "vrai" affichage, on pourra donner des informations fictives par
# rapport à aujourd'hui)

%>
<%
# On a besoin de la feuille de styles du bureau
#
page.add_css( site.folder_objet+"unan/bureau/home.css")
%>
<%
# On a besoin de la libraire work (pour la méthode `as_card`)
Unan.require_module 'work'
%>
<%= Unan.titre_h1("Travail (aperçu)") %>
<%
# Pour empêcher que tous les éléments propres au work soient
# affichés dans la carte, comme le temps de démarrage, etc.
# En fait, on veut seulement afficher les éléments qui sont
# propre à l'abs-work.
class Unan::Program::Work
  def completed?; true end
end
def iwork
  @iwork ||= begin
    benoit = User::get(2)
    abs_work_id = site.current_route.objet_id
    w = Unan::Program::Work.new(benoit.program, abs_work_id)
    w.instance_variable_set('@abs_work_id', abs_work_id)
    if param(:pday)
      w.instance_variable_set('@pday', param(:pday).to_i)
    end
    w
  end
end
%>
<%
# Pour reproduire l'effet du Centre de Travail, on met la carte dans
# un panneau onglet
%>
<div class="panneau_onglet">
  <% if iwork.abs_work.task? %>
    <%= iwork.as_card %>
  <% else %>
    <%= "Le type #{iwork.abs_work.type_w} n'est pas encore traité, patience…" %>
  <% end %>
</div>
