<h3>La grande arnaque des ateliers d'écriture</h3>

<h3>On vous fera croire…</h3>
<p>
  On vous fera croire partout qu'écrire un roman ou écrire un scénario est facile…
</p>

<p>
  On vous fera croire partout que vous pouvez écrire une série, on vous apprendra même à écrire un épisode de série…
</p>

<p>
  On vous fera croire que les recettes existent
</p>

<p>
  On vous fera croire quand même qu'elles n'existent qu'en vous, histoire de vous rassurer sur le fait que l'art reste l'art…
</p>

<p>
  On vous fera croire que si la talent que vous possédez ne s'est pas encore révélé, c'est simplement qu'il vous manque une méthode psychologique…
</p>

<p>
  On vous fera croire en inventant des mots savants qu'on détient les clés d'un royaume de connaissances et d'idées qui vont permettre d'ouvrir en grand les portes
</p>

<h3>La vérité…</h3>

tiennent plus des marchands de tapis que des véritables pédagogues (d'ailleurs, ils ont souvent une formation de journaliste ou de commerciaux, ce qui est la même chose)
<p>
  La vérité, c'est que tous ces pseudo-gourous qui tiennent ces propos, et leurs multiples variantes, — qui le plus souvent n'ont jamais réussi la recette du gâteau qu'ils prétendent vous apprendre — n'ont de compétence que pour une seule chose : exploiter la naïveté des apprentis-auteurs en les laissant croire qu'ils ont fatalement du talent et qu'ils détiennent les secrets de la réussite facile.
</p>
<p>
  La vérité, c'est qu'écrire est difficile. Écrire est un métier qui s'apprend et personne n'attend l'apprenti-auteur.
</p>

<p>
  La vérité c'est que ces gourous n'ont à faire de vous qu'en tant que client naïf, que ce n'est pas votre talent qu'il cherche à révéler, mais l'argent que vous pouvez leur apparter.
</p>

<h3>La solution ?</h3>

<p>
  La solution est simple : demandez-leur ce qu'ils ont permis de faire
</p>

<p>
  Non, je ne parle pas des poèmes publiés sur le web — n'importe qui peut le faire —, je ne parle pas des courts-métrages tournés avec son iphone — n'importe qui peut le faire, je ne parle pas des pseudo-romans autopubliés — n'importe qui peut le faire, je vous parle des films produits dans des conditions professionnelles, je vous parle des livres publiés à compte d'éditeur et si possible dans de bonnes maisons d'édition.
</p>

<p>
  Il est facile de faire croire qu'un projet
</p>

<p>
  Ces gourous, le plus souvent, n'ont que des projets “qui sont sur le point de se faire”, mais rien de concret pour aujourd'hui. Méfiance…
</p>

<p>
  Les choses sont simples :
</p>

<p>
  Quelle que soit ses diplômes, quelle que soit sa formation, un pseudo-gourou qui n'est pas capable de citer plusieurs auteurs ayant réussi grâce à sa formation à faire produire un film professionnel ou à être publié à compte d'éditeur n'est qu'un charlatan qui exploite la crédulité des aspirants auteurs.
</p>
