<!--

  Attaquer plutôt l'article sous la forme : "Reconnaitre une bonne formation d'une mauvaise"


les annonces du type “Devenez écrivain en <%= Time.now.year %> !” et autre [trouver peut-être citation Anaïs]
 -->

 <p>
   Aujourd'hui, le net pullule de formations à l'écriture en tout genre qui vous font croire que grâce à elles vous allez pouvoir révéler votre potentiel resté jusque-là endormi, vous allez pouvoir écrire votre roman, ou écrire votre scénario, et le faire en plus très facilement, grâce à quelques techniques toute prêtes à l'emploi…
 </p>
 <p>
   En vérité, la plupart de ces formations, dont certaines ont même pignon sur rue ou paient les AdsWords de Google pour paraitre dans les premiers résultats, sont d'une valeur très discutable.
 </p>
 <p>
   Et au-delà de la belle vitrine souvent affichée, où l'on vous dit que l'on va vous faire réussir, que l'on va faire de vous un vrai écrivain, un vrai auteur, un vrai scénariste, que l'on va s'intéresser à votre talent et seulement votre talent, les coulisses révèlent une réalité tout autre.
 </p>
 <p>
   Mais comment, lorsque l'on est apprenti(e)-auteur(e), savoir reconnaitre une bonne formation d'une mauvaise ?
 </p>

 <p>
   En vérité, cela n'est pas si difficile. Voici quatre points qui vont vous permettre d'y voir plus clair et de trouver la formation qui peut correspondre à vos attentes et ne pas vider votre porte-monnaie en vous laissant à la fin de la formation dans le même état concret qu'au début.
 </p>
 <p>
   Voici ces quatre points, exprimés en quelques mots, avant de les aborder plus en détail :
 </p>
 <ol>
   <li>Le ou la pédagogue qui offre la formation réusssit-il/elle à utiliser le savoir qu'il/elle divulgue pour sa propre création ? pour son propre art ?</li>
   <li>Les apprentis-auteurs ayant suivi ladite formation ont-il réussi à être publiés (pour les romans) ou produits (pour les films ou les scénario) ? En d'autres termes : sur quoi ces formations ont-elles concrètement débouché pour les apprentis-auteurs qui les ont suivies ?</li>
   <li>Le tarif révèle-t-il un intérêt plus grand pour l'argent que pour le savoir divulgué ?</li>
   <li>Les propositions ne sont-elles pas trop aguicheuses ?</li>
   <li>Quels sont les outils gratuits annexes proposés ?</li>
 </ol>

 <p>
   Faisons le détail de chacun de ces points, qui vous permettront de vous faire une véritable idée de la valeur de toutes ces formations online ou en réel.
 </p>

<h3>Premier point : pour lui-même</h3>
<p>
  On aura beau dire, s'il ne faut pas être un génie dans son art pour exceller dans son enseignement, il faut néanmoins avoir été capable de fournir un travail suffisamment abouti pour être capable d'avoir été produit ou publié.
</p>
<p>
  Il ne s'agit pas de publier à compte d'auteur — n'importe qui peut le faire — mais d'une véritable publication.
</p>
<p>
  Certains sont assez malins pour dire qu'ils ne sont pas intéressés par la publication, ils vous en dresseront une image noire et sordide, ils diront que leur talent n'a jamais pu être reconnu pour x raisons, ils sauront dresser des raisons dans lesquelles vous pourrez vous reconnaitre. En vérité, il s'agit seulement là d'une excuse pour se défiler. La vérité est qu'ils n'ont jamais pu convaincre par leur travail.
 </p>
<p>
  Cela, avouez-le, laisse le droit de se poser quelques questions quant à la validité de leur savoir et leur savoir-faire… Comment faire confiance et écouter les conseils de personnes qui n'ont jamais été capable de les appliquer avec réussite pour eux-mêmes ?…
</p>

<h3>Deuxième point : la réussite des apprentis-auteurs ayant suivi la formation</h3>
<p>
  Si la formation ne propose aucune liste fiable de réussites, c'est-à-dire une liste disant explicitement ce qu'ont réussi à faire les apprentis-auteurs après leur formation, avec des informations permettant de vérifier l'information, alors vous pouvez passer votre chemin : ces formations tiennent plus de l'épicerie que de la véritable formation à l'écriture.
</p>
<p>
  Sachez lire entre les lignes : une publication à compte d'auteur ou une publication sur un blog, sur un site quelconque, n'a aucune valeur en soi. Seuls compte les vraies publications, c'est-à-dire celles à compte d'auteur pour les romans, les nouvelles, et les signatures payées de projets pour le film. Mieux, si les films ont été réalisés au sein d'une boite de production professionnelle.
</p>
<p>
  Ne pas se laisser pas trop abuser par les témoignages d'apprentis-auteurs. Les pseudos-gourous ont compris depuis longtemps qu'il suffisait de flatter le talent d'un apprenti-auteur pour devenir du même coup un merveilleux gourou qui enseigne un savoir incroyablement pertinent…
</p>

<h3>Troisième point : le tarif</h3>
<p>
  Pour terminer, précisons que le tarif est aussi un indicateur, mais pas dans le sens où on pourrait s'imaginer. Il est aisé de gonfler artificiellement ses prix pour faire croire en la valeur de sa formation
</p>
<p>
  En vérité, il faut comprendre le tarif de cette manière : plus il est élevé et plus il révèle l'intérêt des formateurs pour la rentabilité financière de leur entreprise, là aussi plus proche de l'épicerie que de la véritable formation.
</p>

<h3>Quatrième points : se méfier des propositions aguicheuses</h3>

<!--
  l'apprentissage de l'écriture d'une bible de série
  Si le pédagogue connaissait la réalité et n'était pas uniquement intéressé par l'aspect financier, il ne ferait pas perdre argent et temps à un apprenti-auteur en lui apprenant quelque chose qui ne lui servira jamais à rien : une série, en France, ne peut être proposée et conçue que par des auteurs chevronnés et déjà bien connus des différentes chaines. Il n'existe aucune bible envoyée par la poste.
-->

<p>
  Il existe deux façons d'être aguicheur :
</p>
1. faire croire que c'est facile lorsque l'on connait les secrets qu'on va vous révéler
2. travailler sur vos rêves, vos fantasmes d'écriture.

En réalité, il n'existe aucun secret pour parvenir à bien écrire, à être publié ou à être produit. C'est difficile et cela demande des efforts que la plupart des gens sont incapables de fournir.



<h3>Cinquième points : les outils annexes</h3>
<p>
  On s'imagine souvent que les pseudos-gourous proposent leur savoir par passion. Il n'en est rien pour la plupart d'entre eux. Il existe un moyen très simple de le mesurer dans les formations que vous prospectez : si la formation propose de nombreuses informations, des cours, etc. d'accès gratuit, cela témoigne d'une véritable vocation pour la transmission du savoir
</p>
<p>
  Si au contraire  ou des “arnaques-points” comme la lettre de diffusion à laquelle vous vous abonnez et qui vous fournit un conseil d'écriture par semaine (qui, en vérité, fonctionne simplement avec une base de données de conseils qui sont lancés à tout-va sans aucun ciblage des vrais problématiques de l'auteur, individu unique)
</p>

<!--

À donner en exemple de bon atelier : http://www.detambel.com/f/index.php?sp=livAut&auteur_id=1

-->

<!--
Faire un truc sur les mots qu'on peut tirer d'atelier :
- atèle
- lier
- lire
- tare
- rate
- tel
- lit
- atre
- art
- rite

 -->


<!--

---------------------------------------------------------------------

-->

<p>
  On vous fera croire partout que vous pouvez écrire une série, on vous apprendra même à écrire un épisode de série…
</p>

<p>
  On vous fera croire que les recettes existent
</p>

<p>
  On vous fera croire quand même qu'elles n'existent qu'en vous, histoire de vous rassurer sur le fait que l'art reste l'art…
</p>

<p>
  On vous fera croire que si la talent que vous possédez ne s'est pas encore révélé, c'est simplement qu'il vous manque une méthode psychologique…
</p>

<p>
  On vous fera croire en inventant des mots savants qu'on détient les clés d'un royaume de connaissances et d'idées qui vont permettre d'ouvrir en grand les portes
</p>

<h3>La vérité…</h3>

tiennent plus des marchands de tapis que des véritables pédagogues (d'ailleurs, ils ont souvent une formation de journaliste ou de commerciaux, ce qui est la même chose)
<p>
  La vérité, c'est que tous ces pseudo-gourous qui tiennent ces propos, et leurs multiples variantes, — qui le plus souvent n'ont jamais réussi la recette du gâteau qu'ils prétendent vous apprendre — n'ont de compétence que pour une seule chose : exploiter la naïveté des apprentis-auteurs en les laissant croire qu'ils ont fatalement du talent et qu'ils détiennent les secrets de la réussite facile.
</p>
<p>
  La vérité, c'est qu'écrire est difficile. Écrire est un métier qui s'apprend et personne n'attend l'apprenti-auteur.
</p>

<p>
  La vérité c'est que ces gourous n'ont à faire de vous qu'en tant que client naïf, que ce n'est pas votre talent qu'il cherche à révéler, mais l'argent que vous pouvez leur apparter.
</p>

<h3>La solution ?</h3>

<p>
  La solution est simple : demandez-leur ce qu'ils ont permis de faire
</p>

<p>
  Non, je ne parle pas des poèmes publiés sur le web — n'importe qui peut le faire —, je ne parle pas des courts-métrages tournés avec son iphone — n'importe qui peut le faire, je ne parle pas des pseudo-romans autopubliés — n'importe qui peut le faire, je vous parle des films produits dans des conditions professionnelles, je vous parle des livres publiés à compte d'éditeur et si possible dans de bonnes maisons d'édition.
</p>

<p>
  Il est facile de faire croire qu'un projet
</p>

<p>
  Ces gourous, le plus souvent, n'ont que des projets “qui sont sur le point de se faire”, mais rien de concret pour aujourd'hui. Méfiance…
</p>

<p>
  Les choses sont simples :
</p>

<p>
  Quelle que soit ses diplômes, quelle que soit sa formation, un pseudo-gourou qui n'est pas capable de citer plusieurs auteurs ayant réussi grâce à sa formation à faire produire un film professionnel ou à être publié à compte d'éditeur n'est qu'un charlatan qui exploite la crédulité des aspirants auteurs.
</p>
