<%
# Vue pour rentrer les données des questions à l'aide d'un fichier YAML
%>
<h2>Question (ajout par YAML)</h2>
<p class='small italic'>
  Cette page permet d'entrer des questions à partir d'un fichier YAML définissant plusieurs questions d'un coup.
</p>
<p>
  Si un fichier a été préparé, vous pouvez le sélectionner et le traiter à l'aide du formulaire ci-dessous.
</p>
<%=
  (
    "get_data_questions".in_hidden(name:'operation') +
    "<input type='file' name='questions_yaml_file' />" +
   "Prendre ce fichier".in_submit(class:'btn small')
  ).in_form(file:true, action:'question/from_yaml?in=unan_admin/quiz')
%>

<p>Vous pouvez générer un fichier text YAML préparé pour entrer des questions (<span class='small'>Ce fichier possèdera un nom unique donc vous n'aurez aucune chance de détruire un fichier précédemment généré</span>).</p>
<%=
  (
    "generate_yaml_file".in_hidden(name:'operation') +
    "Générer un fichier type".in_submit(class:'btn small')
  ).in_form(action:'question/from_yaml?in=unan_admin/quiz')
%>

<% if UnanAdmin::Quiz::Question::resultat != nil %>
  <%= UnanAdmin::Quiz::Question::resultat %>
<% end %>
