$darkcharte:    #578088
$greencharte:   #207e1e
$lightcharte:   #b7e0e8

// Pour importer ce fichier, ajouter  <<< @import 'charte' >>> en haut du fichier
// Si le fichier n'est pas au même niveau (i.e. dans ce dossier) il faut
// ajouter le chemin, par exemple :
// @import '../../view/css/common'