// Un span qui contient uniquement des boutons, pour les séparer
span.btns
  a.btn, a
    margin      : 0 0.2em

a, a:hover, a:link, a:visited
  &.btn
    &.tiny
      font-size           : 11.3pt !important
      padding             : 0.9px 11px 2.9px !important
      letter-spacing      : 1px !important
    &.warning
      background-color    : red !important
      color               : white !important
img.btn
  background-color  : #6ddd46
  border            : 2px solid green
  margin            : 0 0.3em
  padding           : 6px 12px
  