.relative
  position: relative
.absolute
  position: absolute
  
.fleft
  float : left
  width : auto !important
.fright
  float : right
  width : auto !important
  
// Un élément "discret" est un élément dont l'opacité est moindre et
// qui apparait quand on passe sa souris dessus
.discret
  opacity : 0.6
  &:hover
    opacity : 1  
  &.tres
    opacity : 0.45
    &:hover
      opacity : 0.85
      
.btn, input[type="submit"], input[type="checkbox"] + label, input[type="radio"] + label
  cursor  : pointer
  
input[type="checkbox"] + label, input[type="radio"] + label
  &:hover
    background-color  : #D0FFEE
    
img.btninfo
  vertical-align : sub