.air
  padding   : 2em
.air_autour
  margin    : 2em
.grand.air
  padding   : 4em
  
.block
  display : block
.inline-block
  display   : inline-block
  

.border, .cadre
  padding   : 1em
  border-width  : 1px
  border-style  : solid
  border-color  : #555
  border-radius : 0.65em
  &.fort
    border-color  : #000
    border-width  : 3px
  &.leger
    border-color  : #CCC

// Pour marquer un élément dans un cadre au couleur du fond du bando
// Sert par exemple pour l'indication, dans le centre de travail de
// l'user, de son numéro de jour et de son nombre de points
span.mark_fort
  display             : inline-block
  background-color    : #578088
  text-align          : center
  padding             : 0.4em 1em 0.5em
  color               : white
  font-size           : 1.64em
  
.va_bottom
  vertical-align : bottom
  
// Boutons de navigation
// C'est un DIV contenant des boutons pour aller en avant et en arrière
div.navbtns
  display   : inline-block
  border    : 2px solid #307030
  font-size : 0.85em
  background-color  : #5da43d
  span.navbtn
    border-style    : solid
    padding         : 0 8px
    color           : white
    a
      color           : white
    &.right
      border-width    : 0 0 0 0
      margin-left     : 1em
    &.left
      border-width    : 0 0 0 0 
      margin-right    : 1em
      