*[onclick]
  cursor        : pointer

a, a:hover, a:link, a:visited
  text-decoration       : none
  font-family           : inherit
  color                 : #4f606f // sera modifié ci-dessous pour les flash
  font-weight           : normal
  font-size             : inherit
  
  &.warning
    color               : red !important
  &.strong
    font-weight : bold !important

  &.btn
    &.tiny
      font-size           : 11.3pt !important
      padding             : 0.9px 11px 2.9px !important
      letter-spacing      : 1px !important

span.first_letter_main_link
  font-size   : 24pt
  color       : #CAFF5B
  font-weight : bold
span.other_letters_main_link
  font-size   : 20pt
  color       : white
  font-weight : bold
  
a.mainlink
  &:hover
    content : "HOME"
    text-decoration   : underline
  
flash
  div.messages
    a
      color     : #8fa07f
  div.errors
    a
      color     : white
strong 
  a
    font-weight : bold

// Deux liens qui se suivent doivent toujours être séparés
// NON : ÇA DÉCALE TROP LA MISE EN PAGE À PLEIN D'ENDROIT
// a + a
//   margin-left   : 0.3em
  
// Pour hériter de tous les styles supérieurs
// Mis ici pour les <a> mais peut fonctionner pour n'importe quel
// élément DOM
.inherit, .inherit:link, .inherit:visited, .inherit:hover
  font-size         : inherit !important
  font-family       : inherit !important
  font-style        : inherit !important
  font-weight       : inherit !important
  color             : inherit !important
  background-color  : inherit !important
