*[onclick]
  cursor        : pointer
  
a, a:hover, a:link, a:visited
  text-decoration       : none
  font-family           : inherit
  color                 : #7060DF
  font-weight           : normal
  font-size             : inherit
  
  &.strong
    font-weight : bold !important
strong 
  a
    font-weight : bold