// Liste de style Table des matières
// Note : les titres peuvent être placé dans des h3 
ul.tdm
  list-style  : none
  margin      : 0
  // Style particulier des titres de rubrique
  // h3
  li
    margin-left       : 2em
    
// Liste de définitions
dl
  font-size           : 0.95em
  color               : black
  margin-left         : 2em
  margin-right        : 4em
  dt
    color               : black !important
    font-family         : Verdana !important
    font-size           : 1.3em
    margin-top          : 1em
    margin-bottom       : 0.5em

ul, ol
  margin-left   : 2em
  
ul
  list-style      : none
  list-style-type : square
ul, ol
  &.small
    line-height     : 1em
  li
    margin          : 0.4em 0.0em
  &.tight
    li
      margin          : 0

  // Pour que la liste soit bien espacée, isolée dans la
  // page (les LI sont également plus espacés)
  &.free
    margin          : 6em
    padding-top     : 4px // note : comportement bizarre, les paddings
    padding-bottom  : 4px // note : idem
    li
      margin  : 1.3em 0
  
  // Pour avoir une border sur la gauche
  &.bordure
    list-style      : none
    border-left     : 1px solid 
    
// Noter que les div.row sont définis en même temps que les 
// formulaires dans form.sass
div.dim2080, div.dim3070, div.dim4060, div.dim5050, div.dim6040
  div
    // Les div.row sont sensibles au passage de la souris
    &.row
      &:hover
        background-color      : #EBE0FF