section
  section
    h1
      font-size       : 1.7em !important
    h2
      font-size       : 1.6em !important
    h3
      font-size       : 1.5em !important
    h4
      font-size       : 1.4em !important
      color           : #555
    h5
      font-size       : 1.3em !important
    section
      h1
        font-size       : 1.5em !important
      h2
        font-size       : 1.4em !important
      h3
        font-size       : 1.3em !important
      h4
        font-size       : 1.2em !important
      h5
        font-size       : 1em !important
      section
        h1
          font-size       : 1.3em !important
        h2
          font-size       : 1.2em !important
        h3
          font-size       : 1.1em !important
        h4
          font-size       : 1.0em !important
        h5
          font-size       : 0.9em !important
