tt
  font-size       : 1.14em

personnage
  font-weight     : bold
  color           : #525252
  
acteur, realisateur, auteur, producteur
  font-variant    : small-caps
  color           : midnightblue
  font-size       : 1.1em