tt
  font-size       : 1.14em

personnage
  font-weight     : bold
  color           : #525252
  
acteur, realisateur, auteur, producteur
  font-variant    : small-caps
  color           : midnightblue
  font-size       : 1.1em

.user_action
  font-family         : Arial, Helvetica
  font-size           : 0.85em
  margin-left         : 8em !important
  background-image    : url(http://www.laboiteaoutilsdelauteur.fr/view/img/pictos/finger_blue.png)
  background-repeat   : no-repeat
  background-position : 0 5px
  padding-left        : 46px
  color               : #003ded
