// Pour utiliser comme "Facteur<thin>U" entre deux mots inséparables
thin
  display : inline-block
  width   : 0.3em
  
.film
  font-size           : 0.9em !important
  span.titre
    font-variant        : small-caps
    font-size           : 1.2em
.bold
  font-weight : bold !important
.italic
  font-style  : italic

.libelle
  color         : #6E6E6E
  font-style    : italic
  display       : inline-block
  margin-right  : 0.4em
  
.warning
  color       : #D60000
  &.fort
    font-weight : bold
  &.border
    border-color  : #D60000
    padding       : 0.5em 2em
    
p.warning, div.warning
  display             : inline-block
  width               : auto
  background-color    : #FFD9DE
  // border              : 2px solid red
  border-radius       : 1em
  padding             : 1.5em
  
.tiny, a.tiny
  font-size     : 10.5pt
.small, a.small
  font-size     : 13pt
.medium, a.medium
  font-size     : 15.2pt  
.big, a.big
  font-size     : 23.4pt

.right
  text-align    : right !important
.left
  text-align    : left !important
.center
  text-align    : center !important

.notesur20
  font-family   : Georgia
  font-size     : 1.1em
  
.nowrap
  white-space     : nowrap

// Permet de mettre une espace fine entre deux mots
// @usage : Mon<span class='thin'></span>mot
span.thin
  width           : 0.3em
  display         : inline-block
    
.w40
  width : 40px !important
.w50
  width : 50px !important
.w60
  width : 60px !important
.w80
  width : 80px !important
.w100
  width : 100px !important
.w120
  width : 120px !important
.w140
  width : 140px !important
.w150
  width : 150px !important
.w180
  width : 180px !important
.w200
  width : 200px !important
.w240
  width : 240px !important
.w280
  width : 280px !important
.w300
  width : 300px !important
.w400
  width : 400px !important
