<%
# Vue pour la table des matières d'un livre
page.description= "Table des matières d'un livre de la collection Narration."
%>
<%
def livre
  @livre ||= site.objet
end
%>
<%= Cnarration.titre_h2(livre.titre) %>
<p>La collection Narration se trouve à présent sur le site <a href="http://www.scenariopole.fr">Scénariopole</a> :</p>
<p class="cadre big air">
  <a href="http://www.scenariopole.fr/narration/livre/<%=livre.id%>"> Voir le livre sur Scénariopole</a>
</p>