@import '../../view/css/common/charte'

// Le calendrier
div#cal_unan
  position        : relative
  
span.garcon, span.fille
  background-repeat   : no-repeat
  background-position : 4px 4px
  width               : 21px
  height              : 40px
  display             : inline-block
  position            : absolute
  span.pseudo
    font-size           : 9pt
    position            : absolute
    top                 : -16pt
    left                : -4pt
    background-color    : white
    z-index             : -1
    height              : 25px
    width               : 40px // pour que ça ne déborde pas 
    overflow            : hidden
  div.infos
    position            : absolute
    display             : none
    &.droite
      left                : 10px
    &.gauche
      left                : -270px
    &.dessus
      top                 : -100px
    &.dessous
      top                 : 10px
  &:hover
    div.infos
      display           : block !important
      width             : 250px
      padding           : 1em
      border            : 1px solid #EEE
      border-radius     : 1em
      background-color  : #FEFEFE
      font-size         : 12.8pt
      div 
        line-height       : 1.2em
        &.pseudo
          font-weight       : bold
      img.avatar
        float             : left
        width             : 30px
        margin-right      : 1em
        margin-bottom     : 1em
        
span.garcon
  background-image    : url('http://www.laboiteaoutilsdelauteur.fr/view/img/pictos/homme_petit.png')
  z-index : 5
span.fille
  background-image    : url('http://www.laboiteaoutilsdelauteur.fr/view/img/pictos/femme_petit.png')
  z-index : 5

//Un jour du calendrier
div.cday
  display       : inline-block
  width         : 24px
  height        : 40px
  border        : 1px solid #CCC
  font-size     : 10pt
  color         : #acacac
  text-align    : center
  margin-right  : 1px
  margin-bottom : 2px
  &:hover
    background-color    : $darkcharte
    color               : white