<%
# Page permettant de voir où en sont les auteurs du programme
# UN AN UN SCRIPT
%>
<%= Unan.titre_h1('Position des auteurs') %>
<%
# Pour le moment, seul l'administrateur peut consulter ce calendrier
# mais à l'avenir TODO n'importe qui pourra le consulter. Les auteurs
# suivant le programme pourront avoir des informations complètes tandis
# que les visiteurs lambda ne pourront que voir où en sont les auteurs
# au niveau des jours.
raise_unless_admin
%>
<%
=begin
C'est une année programme qui est affichée, quelle que soit la date
de démarrage de l'auteur. Le premier-jour programme est toujours le
1er janvier-programme.
INFORMATIONS À FAIRE APPARAITRE :
  - Pseudo
  - Jour-programme
  - Nombre de points

=end
%>
<div id="cal_unan">
  <%= CalUnan.draw_cal %>
  <%= CalUnan.positionne_auteurs %>
</div>
