<%
# Vue pour le paiement de l'inscription au programme UN AN
#
# NOTE : C'est le module `paiement.rb` au même niveau que ce fichier
# qui appelle la méthode `make_transaction` qui permet de procéder
# au paiement du programme.

enable_comments
%>
<p>Désolé, le programme UN AN UN SCRIPT n’est plus en service.</p>
