<%
# Affichage d'un projet
#
%>

<%
# Doit être appelé par la route "projet/<id>/show?in=unan" donc on
# peut récupérer le projet comme ça
projet = site.current_route.instance

# Si le projet n'existe pas, on produit une erreur non fatale
raise NonFatalError::new( "Projet inexistant", param(:last_route) ) unless projet.exist?

%>

<%
# Si c'est le propriétaire du projet, un lien pour modifier
# la fiche
%>
<h2>Projet <%= projet.titre %></h2>
<div id="projet_auteur">
  Auteur du projet : <strong><%= projet.auteur.pseudo %></strong>
</div>
<div id="projet_creation">
  Date de création : <strong><%= projet.created_at.as_human_date %></strong>
</div>

<% if user.id == projet.auteur_id %>
  <hr />
  <%= "Éditer le projet".in_a(class:'small btn', href:"projet/#{projet.id}/edit?in=unan") %>
<% end %>
