<%
# Affichage de toutes les questions d'une base
%>
<%= Quiz.titre_h2("Affichage des questions de #{param(:qdbr)}") %>

<%
# ---------------------------------------------------------------------
#  BOITE DE FILTRE
# ---------------------------------------------------------------------
%>
<fieldset id="fs_filtre">
  <legend>Filtre des questions</legend>
  <form id="form_filtre" class="" action="question/list?in=quiz" method="POST">
    <%= param(:qdbr).in_hidden(name: 'qdbr') %>
    La question doit contenir le mot <input type="text" name="filtre[mot]" id="filtre_mot" />
  </form>
</fieldset>
<%
# ---------------------------------------------------------------------
#   LISTE DES QUESTIONS
# ---------------------------------------------------------------------
%>
<ul id="question_list">
  <%= QuestionQuiz.selection.collect{ |question| question.as_li }.join %>
</ul>
