fieldset#fs_filtre
  margin-left     : 16em
  &, *
    font-size       : 12pt
  // form#form_filtre
    
ul#question_list
  font-size       : 12.5pt
  list-style      : none
  li.q
    span.id
      font-size     : 0.9em
      margin-right  : 0.5em
    span.btns
      float         : right
      margin-left   : 1em
