ul#bande_onglets
  list-style      : none
  margin-bottom   : 0
  padding-bottom  : 0
  a
    color           : black
    li
      display         : inline-block
      min-width       : 94px
      border          : 1px solid
      border-radius   : 0.6em 0.6em 0 0
      padding         : 4px 8px 3px
      text-align      : center
      font-size       : 11pt
      letter-spacing  : 1.2px
      margin          : 0
      &.exergue
        background-color  : #F8A
      &.actif
        background-color  : #578088
        color             : white !important
        a
          color           : white
        // La marque du nombre de travaux, messages, etc.
        span.nombre
          color       : #f9E !important
div.panneau_onglet
  border        : 1px solid #777
  border-radius : 0.4em
  margin        : 0 !important
  padding       : 1em 2em
  min-height    : 300px
  
  h3
    margin-top    : 0.5em !important

  p, span, div
    line-height   : 1.3em
  span
    display       : inline-block
    &.libelle
      font-size     : 12.8pt
    
  div.work
    padding           : 1em
    border            : 1px solid #CCC
    border-radius     : 0.5em
    font-size         : 0.9em
    background-color  : burlywood
    div.nbpoints  
      color           : white
      font-size       : 15pt
      font-style      : italic
      float           : right
    div.titre
      margin-bottom : 1em
      font-weight   : bold
      font-size     : 1.1em
    div.dates
      font-size     : 0.85em
      color         : black
      padding       : 0 1em
      margin        : 1em 0 1em 30%
      border-left   : 1px solid white
      span.exbig
        font-weight   : bold
        font-size     : 1.1em
    div.buttons
      text-align    : right
      margin-top    : 1em
      padding-top   : 1em
      border-top    : 1px solid #777
      color         : #777
      a
        background-color  : white
        border            : 1px solid green
        color             : green
        padding           : 0.4em 1em
        font-size         : 12.2pt
        margin-right      : 1em
        
section#completed_works
  opacity       : 0.55
  div.work
    div.buttons
      // Il faut masquer la barre des boutons pour empêcher de faire des bêtises
      display   : none