<%= Unan::titre_h1("Votre centre de travail") %>
<p class='small right'>Bienvenue dans votre bureau de travail, <%= user.pseudo %> !</p>

<%
# Le bureau fonctionne en onglets cliquables
%>

<%= bureau.bande_onglets %>
<%= bureau.panneau_courant.in_div(class:'panneau_onglet') %>

<%
# debug "uworks_all : #{user.uworks_all.pretty_inspect}"
# debug "\n\nuworks_done : #{user.uworks_done.pretty_inspect}"
# debug "\n\nuworks_undone : #{user.uworks_undone.pretty_inspect}"
# debug "\n\naworks_unstarted : #{user.aworks_unstarted.pretty_inspect}"
%>
