<%= Unan::titre_h1("Votre centre de travail") %>
<p class='small right'>Bienvenue dans votre bureau de travail, <%= user.pseudo %> !</p>

<%
# Le bureau fonctionne en onglets cliquables
%>

<%= bureau.bande_onglets %>
<%= bureau.panneau_courant.in_div(class:'panneau_onglet') %>
