section#content
  div#page_cours
    width       : 780px
    margin-left : 3em
    margin-top  : 3em
    
    // Les exergues amenées par "> "
    > blockquote
      > p
        font-weight     : bold
        margin          : 3em 4em
        text-align      : center

    // Termes techniques
    tt
      font-family     : "Courier New"
      font-size       : 1.1em

  div.nav
    margin-right    : 4em
    > div
      border-width  : 2px
      border-style  : solid
      padding       : 2px 12px
      display       : inline-block
      width         : 50px
      text-align    : center
      position      : relative
      height        : 25px
      border-color  : #CCC #979797 #979797 #CCC
      &:hover
        border-color      : #979797 #CCC #CCC #979797
        background-color  : #E8F3F5
      & + div
        margin-left   : 0.2em
        a
          right          : 1px
      a
        font-size     : 1.4em
        position      : absolute
        top           : -6px
        left          : 18px
