<%
# Affichage d'une page de la collection Narration
%>
<% def page ; @page ||= site.objet end %>
<%= Cnarration::titre_h1 %>
<%= page.liens_edition_if_admin %>
<h3><%= site.objet.livre.titre %></h3>
<%= site.objet.output %>
