<%
# Affichage d'une page de la collection Narration
#
# Note importante : cette page peut être abordée par un
# icarien depuis son bureau.
page.description="Affichage d'une page de la collection Narration."
%>
<%
def ipage
  @ipage ||= site.objet
end

%>
<p>Cette page se trouve maintenant sur le site Scénariopole :</p>
<p class="cadre big air"> <a href="http://www.scenariopole.fr/narration/page/<%=ipage.id%>">Lire la page sur Scénariopole</a>.</p>
