section#content
  div#page_cours
    width       : 780px
    margin-left : 3em
    margin-top  : 3em
    
    // Les exergues amenées par "> "
    > blockquote
      > p
        font-weight     : bold
        margin          : 3em 4em
        text-align      : center

    // Termes techniques
    tt
      font-family     : "Courier New"
      font-size       : 1.1em
      