<%= Video::titre_h1("Aide") %>
<p>
  Vous trouvez dans cette section, si vous êtes abonné<%= user.f_e %>, des tutoriels vidéos sur l'écriture.
</p>
<p>
  Il suffit de rejoindre la <%= "page principale".in_a(href:"video/home") %> puis de cliquer sur une vidéo ou sa réduction pour qu'une nouvelle fenêtre s'ouvre vous permettant de la voir.
</p>
<p class='right'>
  <%= "→ Voir la liste".in_a(href:'video/home') %>
</p>
