<%= Video::titre_h2("Aide administration") %>
<h3>Création d'une nouvelle vidéo</h3>
<ul>
  <li>Créer la vidéo à l'aide de ScreenFlow</li>
  <li>Mettre la vidéo sur Youtube</li>
  <li>Récupérer l'ID de la vidéo et l'ajouter au fichier <%= lien.edit_file('/Users/philippeperret/Sites/WriterToolbox/objet/video/DATA_VIDEOS.rb', titre:"DATA_VIDEOS.rb") %></li>
</ul>
<p>
  Penser à retirer la vidéo de la liste des vidéos à venir dans le fichier <%= lien.edit_file('/Users/philippeperret/Sites/WriterToolbox/objet/video/home.erb', titre: "`home.erb`") %>
</p>
