<%
# Accueil de la section vidéo (liste des vidéos)

enable_comments
%>
<%= Video.titre_h1 %>
<%= Video.list %>
<h3>Vidéos à venir</h3>
<ul class='small'>
  <li>Écriture organique (2<sup>nde</sup> partie)</li>
  <li>La rédaction du scénario</li>
  <li>Les Feuilles de styles</li>
  <li>Feuilles de styles et raccourcis-clavier</li>
  <li>S'organiser efficacement sur l'ordinateur</li>
  <li>Logiciels d'aide à l'écriture</li>
</ul>
