<%
# Accueil de la section vidéo (liste des vidéos)
page.description= "Trouvez ici toutes les vidéos pédagogiques produites pour la boite à outils de l'auteur."
enable_comments
%>
<%= Video.titre_h2 %>
<%= Video.list %>
<h3>Vidéos à venir</h3>
<ul class='small'>
  <li>Écriture organique (2<sup>nde</sup> partie)</li>
  <li>La rédaction du scénario</li>
  <li>S'organiser efficacement sur l'ordinateur</li>
  <li>Logiciels d'aide à l'écriture</li>
</ul>
