<%
# Accueil de la collection Narration

page.description= "Accueil de la collection Narration, présentation et état de développement des divers livres."
%>
<%= Cnarration.titre_h1 %>

<p>La collection Narration se trouve à présent sur le site <a href="http://www.scenariopole.fr">Scénariopole</a> :</p>
<p class="cadre big air">
  <a href="http://www.scenariopole.fr/narration">Narration sur Scénariopole</a>
</p>