<%= Cnarration.titre_h2('Dernières pages')%>
<div class="small italic discret">
  Cette page présente la liste des dernières pages achevées de la collection Narration.
</div>
<%= Cnarration.liste_des_dernieres_pages %>
