ul#last_pages
  list-style      : none
  li.lipage
    font-size   : 0.9em
    div.btns_admin
      font-size   : 9pt !important
    span.date
      font-size   : 11pt
      font-family : arial, Helvetica, Geneva
      display     : inline-block
      width       : 100px
