div.file
  margin-top      : 2em
  // DIV contenant le nombre d'occurrences et le poids
  div.divoc
    margin-left     : 1em
    font-size       : 0.85em
    // Le texte "X occurrences"
    span.ocs
      font-weight     : bold
    // Le poids exact de la page
    span.poids
      font-size       : 0.85em
  div.founds
    margin-top      : 1em
    margin-left     : 4em
    font-size       : 0.8em
    span.found
      color           : red
      font-weight     : bold