<%
# Vue pour la synchronisation de la base de données de la
# collection narration
%>
<%= Cnarration::titre_h1("Synchronisation") %>
<% site.require_module 'remote_file'%>
<%= RFile::new("./database/data/cnarration.db").
    bloc_synchro(verbose: true) %>

<p class='small italic discret'>
  Noter qu'on ne synchronise ici que la base de données générale de la collection, pas les pages elles-mêmes. On peut aussi synchroniser les fichiers texte en lançant une synchro complète du site (<%= lien.console %>   -> `check synchro`).
</p>
