<%
# Vue pour la synchronisation de la base de données de la
# collection narration
raise_unless_admin
%>
<%= Cnarration::titre_h1("Synchronisation") %>

<p>
  Utiliser le <%= "tableau de bord des synchronisation".in_a(href:"admin/sync") %>
</p>
