div.nav_tools_bar
  text-align      : right
  > form
    display         : inline
    input[type="submit"]
      font-size       : 1.0em
  &.top
    margin-bottom   : 1em !important
  &.bottom
    margin-top      : 1em !important
  