<%
# Vue affichant les messages du forum
#
# Par défaut, la page affiche les 30 derniers messages. Sinon, affiche
# les messages du sujet voulu par la route.
%>
<h1>Forum (messages)</h1>

<div class="right">
  <a href="forum/sujets">Sujets</a>
</div>

<section id="messages">
  <%= forum.posts.as_list %>
</section>
