<%
# Vue pour lire un message
imess = site.objet
%>
<%= forum.titre_h2("Lecteur de message") %>
<% if imess.valid? || user.admin? %>
  <ul id="posts"><%= imess.as_li(as: :full_message) %></ul>
<% else %>
  <p>Désolé, mais ce message ne peut être lu.</p>
<% end %>
