<%
# Message à l'administration
%>
<p>Bonjour,</p>
<p>Je vous fais part d'une nouvelle inscription payante au programme UN AN UN SCRIPT.</p>
<table>
  <tr><td>Date</td><td><%= NOW.as_human_date %></td></tr>
  <tr><td>User pseudo</td><td><%= pseudo %></td></tr>
  <tr><td>User ID</td><td>#<%= id %></td></tr>
</table>
