<%
# Mail d'explication à l'User à l'inscription
%>
<p>Bonjour <%= pseudo %> !</p>
<p>
  Vous trouverez sur la page <a href="http://www.laboiteaoutilsdelauteur.fr/aide/home?in=unan">Aide du programme “Un roman en un an”</a> toutes les informations indispensables pour bien démarrer le programme “Un roman ou un script en un An” auquel vous venez de vous inscrire.
</p>
<p>
  N'hésitez pas à mettre cette page de côté pour y revenir dès que vous en aurez besoin.
</p>
<p>Bon courage et bonne inspiration pour votre programme !</p>
