<%
# Mail de confirmation d'inscription à l'User
%>
<p>Bonjour <%= pseudo %>,</p>
<p>
  Je vous confirme votre inscription au programme “Un An Un Script” sur le <%= site.name %>.
</p>
<p>
  Vous avez dû recevoir parallèlement à ce courier un message d'explication générale sur le programme et comment le réaliser au mieux. Nous vous invitons à le lire avec soin.
</p>
<p>
  Merci infiniment de votre confiance.
</p>
<p>
  En vous souhaitant bon courage pour cette aventure émotionnelle !
</p>
<p>
  Bien à vous,
</p>
