<%
# Mail d'explication à l'User à l'inscription
%>
<p>Bonjour <%= pseudo %> !</p>
<p>
  Trouvez ci-dessous quelques explications qui vont vous être <strong>très utiles</strong> pour bien démarrer votre programme “Un An Un Script” auquel vous venez de vous inscrire.
</p>
