div#tools_quick_list
  text-align  : center
  h4
    margin : 0
    margin-bottom : 0.5em
    text-align : center
    background-color : #578088
    color : white
  a
    padding : 0 4px
    &:hover
      background-color : #578088
      color : white
      
