<%
# Affichage de la liste des outils
%>
<h1>Outils d'écriture</h1>

<dl>

  <dt><a href="unan/home">Le Programme “1 An 1 Script”</a></dt>
  <dd>Ce programme d'apprentissage vous permet, tout en vous familiarisant de façon approfondie avec les connaissances narratives et scénaristiques, de développer un scénario de A à Z au cours d'une année d'apprentissage, temps moyen de développement d'une histoire par un professionnel.</dd>

  <dt><a href="forum/home">Le Forum</a></dt>
  <dd>Le forum réservé exclusivement aux membres de la boite à outils offre un espace inédit où chaque auteur peut trouver les réponses aux questions qu'il se pose, qu'elles soient générales ou particulières à son projet. Par son système de hiérarchie inspirée des meilleurs sites de connaissance, ce forum se distingue par la qualité des connaissances véhiculés de tous les sites d'écriture dont la plupart colportent nombre d'idées précconçues, erronnées ou falacieuses.</dd>

  <dt><a href="analyse/home">Les Analyses de films</a></dt>
  <dd>Cette section à la pointe de la technologie vous permet de tirer le maximum de profit des films de tout genre et de toute provenance, grâce à des analyses approfondies, instructives, donc indispensables.</dd>

  <dt><a href="calculateur/home">Le Calculateur de structure</a></dt>
  <dd>Utilisé par de nombreux auteurs depuis de nombreuses années, ce calculateur vous permet de calculer, en pages, en minutes, la durée de chaque partie de votre histoire ou de votre scénario, ainsi que l'emplacement de toutes les scènes-clés indispensables.</dd>

  <dt><a href="narration/home">La collection Narration</a></dt>
  <dd>Profitez en ligne de la future version papier des cours narratifs de <strong>Philippe Perret</strong>, auteur et pédagogue qui œuvre depuis plus de vingt ans dans le monde du cinéma et de l'audiovisuel.</dd>

  <dt>Le Scénodico</dt>
  <dd>Le dictionnaire indispensable du scénariste, comportant des centaines de définitions de tous les termes propres à l'écriture, au scénario ou à la BD.</dd>

  <dt>Les Autres outils</dt>
  <dd>On trouve également d'autres outils plus ponctuels, tel que le <strong>Filmodico</strong>, la <strong>fabrique de facture</strong> ou les <strong>didactiels</strong> qui permettent de se familiariser ou d'apprendre en profondeur l'écriture.</dd>

</dl>
