<p>
  Cet onglet, s'il existe, permet d'afficher le <em>Diagramme Dramatique</em> du film, directement inspiré du concept de <strong>Pyramique Dramatique</strong> développé par <a href="https://fr.wikipedia.org/wiki/Sylvain_Rigollot" target="_new" class='bold'>Sylvain Rigollot</a>.
</p>
<p>
  Ce concept dessine la <em>courbe dramatique</em> du film à partir des <em>questions</em> (dramatique ou pas) que le spectateur peut se poser. Un personnage entre dans une pièce, plusieurs questions en découlent, chacune d'entre elle, quelle que soit son intensité, va incrémenter d'une valeur la courbe dramatique : Qui est ce personnage ? (+1) Que va-t-il faire ? (+1) Quel est le lieu dans lequel il rentre ? (+1). Dès qu'une réponse à l'une de ces questions est donnée, la courbe dramatique se décrémente d'une valeur. On apprend que le personnage est le voisin (=> -1). On découvre
</p>
<p>
  C'est un moyen très intelligent de représenter la tension et l'intérêt que le spectateur peut avoir pour le film.
</p>
<p>
  En glissant la souris sur le diagramme dramatique, vous affichez la fiche de la scène survolée, ainsi que l'intensité courante de la courbe dramatique. Lorsque vous vous trouvez sur une nouvelle question ou une réponse donnée, question et réponse s'affichent sous le diagramme et un crochet supérieur affiche l'emplacement temporisé de la question (l'endroit du film où elle a été posée) et l'emplacement temporisé de la réponse, si réponse il y a eu (l'endroit du film où la réponse a été donnée).
</p>
