<p>
  Cet onglet affiche les <em>Fondamentales</em> du film (cf. le cours) si elles sont été établies.
</p>
<p>
  Un titre rappelle chaque fois le contenu de chaque fondamentale.
</p>
<p>
  Lorsque le film met en scène plusieurs protagonistes, chacun d'entre eux possède son propre groupe de Fondamentales.
</p>
