<p>
  Si des notes existent sur le film, cet onglet s'affiche et permet de présenter la liste de ces notes.
</p>
<%= (FilmAnalyse::Manuel::texte_type :fiche_type, {chose: "note", la_chose:"la note", les_choses: "les notes"} ) %>
