<p>
  Cet onglet présente la liste des procédés relevés dans le film.
</p>
<p>
  Notez que suivant la profondeur de l'analyse, seuls quelques procédés peuvent avoir été relevés, cette liste ne prétend donc pas toujours être exhaustive.
</p>
<%= (FilmAnalyse::Manuel::texte_type :fiche_type, {chose: "procédé", de_la:"du "} ) %>
