<p>
  L'onglet “Timeline des scènes” permet d'afficher une ligne de temps horizontale où sont représentées l'intégralité des scènes (ou des séquences selon la profondeur de l'analyse).
</p>
<p>
  Chaque scène est représentée par un rectangle de couleur différente et son résumé est affiché au-dessus, de travers <span class='small'>(il est possible que vous soyez obligé<%= user.f_e %> de zoomer dans la page pour pouvoir les lire)</span>.
</p>
<p>
  En glissant votre souris sur cette ligne de temps, vous faites apparaitre la fiche de la scène.
</p>
<p>
  Cette timeline permet de donner une idée de la “densité” temporelle du film, de son rythme au niveau de la découpe en scènes.
</p>
