section#header
  position          : fixed
  top               : 0
  width             : 100%
  height            : 48px // 30px
  padding           : 0.5em 8.7em
  background-color  : #578088 // #7b8263 // #578088
  overflow          : hidden
  z-index           : 100

  // L'image du logo, longueur, dans le header
  img#logo_long
    position    : absolute
    width       : 471px
    height      : 127px
    left        : 0
    top         : -2.3em
    opacity     : 0.35
    z-index     : -1

  span#site_title
    display           : block
    margin-top        : 28.2px
    margin-left       : 2px
    font-weight       : bold
    letter-spacing    : 6px
    text-shadow       : 2px 2px #3d4060
    color             : white
    line-height       : 1.3em
    a
      color           : inherit
      font-family     : inherit
      font-size       : inherit
      font-style      : inherit
      font-weight     : inherit
      text-shadow     : inherit
      letter-spacing  : inherit

div#div_pastille_taches
  position          : fixed
  right             : 10px
  top               : 10px
  height            : 25px
  overflow          : hidden
  z-index           : 500
  text-align        : right
  font-size         : 10.5pt
  opacity           : 1
  &:hover
    height            : auto
    z-index           : 1000
    max-width         : 400px
  a.pastille_taches
    display           : inline-block
    font-size         : 10.5pt
    margin-bottom     : 4px
    padding           : 2px 8px 4px
    border-radius     : 2em
    color             : white
  div.taches
    text-align        : left
    font-size         : 9.5pt
    border            : 1px solid
    border-radius     : 4px
    padding           : 1em
    background-color  : white
