<%
# Définition de l'entête du site
%>
<section id="header">
  <span id="site_title"><a href=""><%= site.title %></a></span>
</section>
<%
  # Insertion de la pastille indiquant les tâches à exécuter
  # si c'est un administrateur et que les options le réclament.
  # La valeur `display_taches_for_administrator` est défini
  # dans le fichier config  : ./objet/site/config.rb
  if site.display_taches_for_administrator && user.admin? %>
    <%=
      site.require_objet 'admin'
      ::Admin::require_module 'taches'
      ::Admin::Todolist::pastille_taches_administrator
    %>
<% end %>
