<%
# Définition de l'entête du site
%>
<section id="header">
  <span id="site_title"><a href=""><%= site.title %></a></span>
</section>
<%
  # Insertion de la pastille indiquant les tâches à exécuter
  # si c'est un administrateur et que les options le réclament.
  # La valeur `display_taches_for_administrator` est défini
  # dans le fichier config  : ./objet/site/config.rb
  if site.display_taches_for_administrator && user.admin? %>
    <% debug "dans header.erb, user.identified? est #{user.identified?.inspect}"%>
    <%=
      site.require_objet 'admin'
      ::Admin::require_module 'taches'
      ::Admin::Taches::pastille_taches_administrator
    %>
<% end %>

<%
  # Insertion de la pastille indiquant à un user suivant le
  # programme UN AN UN SCRIPT qui veut qu'on lui indique
  # toujours en entête le nombre de tâches qu'il a à
  # exécuter.
  if user.unanunscript? && user.preference(:pastille_taches)
    require './objet/unan/lib/module/standalone/pastille_taches.rb'
    %>
    <%= user.set_pastille_taches %>
<% end %>

<%
  # Si c'est un administrateur qui visite, il faut insérer au besoin
  # le widget pour les tâches (pour ajouter une tâche concernant la
  # page).
  if user.admin?
    site.require_module('tache')
%>
  <%= ::Admin::Taches::widget %>
<% end %>
