body
  position : relative
  section#left_margin
    position          : fixed
    top               : 51px
    width             : 109px
    padding           : 40px 12px 64px
    background-color  : #578088
    font-size         : 12.8pt
    font-family       : Arial, Helvetica, Verdana
    text-align        : center
    border-radius     : 0 0 1.8em 0
        
    a, a:hover, a:visited, a:link
      display           : block
      color             : white
      border-color      : white
      margin-top        : 12px

      // Le bouton outils
      &#lk_outils, &#lk_unan
        background-color  : white
        border-radius     : 0.65em
        border-style      : solid
        border-width      : 1px
        color             : #4f606f !important
        padding           : 0.9em 0
        
    // La partie avec les liens vers les outils quand l'user
    // est abonné
    div#leftm_tools
      border      : 1px solid white
      text-align  : center
      a
        margin    : 0