body
  section#left_margin
    width             : 110px
    padding           : 40px 12px 64px
    float             : left
    background-color  : #7b8263
    font-size         : 12.8pt
    font-family       : Arial, Helvetica, Verdana
    margin-right      : 3em
    text-align        : center
    
    a, a:hover, a:visited, a:link
      display           : block
      color             : white
      margin-top        : 12px
      
      &#link_uaus
        border            : 1px solid
        padding           : 4px 4px 3px
        text-align        : center
    // La partie avec les liens vers les outils quand l'user
    // est abonné
    div#leftm_tools
      border      : 1px solid white
      text-align  : center
      a
        margin    : 0