<%
# Page pour la simulation d'un quiz
#
# Permet d'afficher le formulaire et de le soumettre, mais n'enregistre
# pas de points, explique simplement ce que fera le quiz.
#
# L'identifiant du quiz se trouve dans 'objet_id' de la route puisque
# cette page est appelée par :
#   "quiz/<id>/simulation?in=unan"
%>
<h2>Questionnaire (simulation)</h2>
<div class="right small"><%= iquiz.lien_edit("Éditer le formulaire") %></div>
<% if param(:operation) != "bureau_save_quiz" %>
  <%= iquiz.output_in_container(simulation:true, forcer:true) %>
<% else %>
  <%= iquiz.resultat_simulation %>
<% end %>
