body
  position          : relative
  margin            : 0
  margin-top        : 50px // pour passer sous l'entête
  // font-family       : "Times New Roman", Times
  // font-family       : "Courier New", Courier
  // font-size         : 19.2pt
  font-family       : Tahoma, Arial
  font-size         : 15.9pt
  color             : #2D2D2D
  width             : 1200px
  text-align        : justify
  
  a, a:hover, a:link, a:visited
    text-decoration       : none
    // font-family           : monospace
    // color                 : #92002b
    font-family           : inherit
    color                 : #7060DF
    font-weight           : bold
    font-size             : inherit
    
  p
    width             : 820px
    line-height       : 1.6em
    // &.small
    //   line-height       : 1.4em
  strong
    color             : #3F3F3F