body
  position          : relative
  margin            : 0
  font-family       : "News Cycle",sans-serif !important
  // font-family       : "Open Sans", Tahoma, Arial
  font-size         : 15.9pt
  min-width         : 800px
  max-width         : 1200px
  text-align        : justify
  padding: 0
  background-color: #FFFFFF

  strong
    color             : #3F3F3F
