section#content
  padding           : 2em 0 2em 4em
  margin-left       : 134px
  position          : relative
  min-height        : 340px
  width             : 100%
  max-width         : 970px
  min-width         : 700px

  > pre
    margin-left     : 4em
  > div, > p
    line-height     : 1.6em
    margin-left     : 2em
  // > div
  //   width           : 966px
  // > p
  //   width           : 820px      

  div#bloc_encourage_subscribe
    width               : 100%
    border              : 1px solid #CCC
    padding             : 1em
    font-size           : 12.1pt
    background-color    : #4f606f
    &, *
      color               : white

.darkgreen
  background-color  : #207e1e