<%
# Contenu de la page
# Il est calculé ici notamment pour pouvoir définir l'ajout pour
# schema.org
contenu_de_la_page = page.content_route || page.home
%>
<section id="content">

  <%
  # ===========================================
  #     Le contenu véritablement de la page
  # ===========================================
  %>
  <%= contenu_de_la_page %>

</section>
