<%
# Page d'accueil pour un user abonné, mais ne suivant pas le
# programme UN AN
%>
<%= Unan::titre_h1 %>
<%

ajout_abonned = "<strike>#{Unan.tarif_humain}</strike> (<b>#{(Unan.tarif - site.tarif)}0 € seulement</b> puisque vous êtes déjà abonné#{user.f_e} !)"

lien_subscribe_program = (
  "S’inscrire au programme".in_a(href:"unan/paiement", style:'color:white;font-size:16pt') +
  "<br>#{ajout_abonned}".in_span(class: 'tiny center')
  ).in_div(class: 'btn', style: 'background-color:green;color:white;display:inline-block;text-align:center;padding:1em 2em')

%>
<p class='small right red'>Vous ne suivez pas (encore) le programme “<%= Unan::PROGNAME_MAJ %>”.</p>
<div class="center air"><%= lien_subscribe_program %></div>
<p class='right air'>
  <%= "#{DOIGT}Découvrir le programme #{Unan::PROGNAME_MAJ} en profondeur".in_a(href:"aide/overview?in=unan") %>
</p>
