<%
# Accueil du programme UN AN pour un non identifié
%>
<%= Unan::titre_h1 %>
<%

ajout_abonned = "#{Unan.tarif_humain} pour toute une année"

lien_subscribe_program = (
  "S’inscrire au programme".in_a(href:"unan/paiement", style:'color:white;font-size:16pt') +
  "<br>#{ajout_abonned}".in_span(class: 'tiny center')
  ).in_div(class: 'btn', style: 'background-color:green;color:white;display:inline-block;text-align:center;padding:1em 2em')


%>
<p style="line-height:1.9em;font-size:15.8pt">
  Le pari du programme <strong><%= Unan::PROGNAME_MAJ %></strong> est simple : que vous soyez auteur expérimenté ou non, que vous ayez ou non des connaissances poussées en dramaturgie, que vous ayez ou non déjà mené à terme un projet d'écriture, ce programme ludique, inventif et non moins très sérieux s'engage à vous faire <strong>parvenir à écrire votre roman, votre scénario de film ou de BD</strong> en un temps donné d'environ un an — suivant le rythme choisi —, tout en vous faisant suivre une <strong>formation complète à la narration</strong> (l'art d'écrire des histoires).
</p>
<div class="center air"><%= lien_subscribe_program %></div>
<p class='right'>
  <%= "#{DOIGT}En apprendre plus sur ce programme".in_a(href:'aide/overview?in=unan') %>
</p>
