<% raise_unless_admin %>
<%site.require_module 'kramdown'%>

<%= UnanAdmin.titre_h1('Aide formatage') %>

<div class="explication">
  Ce document présente l'aide au formatage des documents qui constituent les travaux.
</div>
<p>Ces documents sont écrits en HTML et toutes les balises propres au format HTML sont donc utilisables.</p>


<h2>Titres</h2>

<p>On peut utiliser tous les niveaux titres de `H1` à `H4` pour définir les titres.</p>
<p>Il existe des snippets, donc il suffit de faire `hx[TAB]` pour insérer un titre. Par exemple, `h3[TAB]` insèrera le code `&lt;h3>|&lt;/h3>`.</p>


<h2>Exemple de document dans le travail</h2>

<p>Dans le travail on peut donner des exemples de documents grâce à la balise `DOC` qui s'utilise de cette manière :</p>
<pre class='cadre'>
  DOC/

  /DOC
</pre>
<p>On peut ajouter une légende au document avec :</p>
<pre class='cadre'>
  DOC/

  /La légende du document
  /DOC
</pre>
<p>Les titres sont bien en commençant par au moins deux dièses `##` (donc à `h2`) :</p>
<pre class='cadre'>
  DOC/
  ## Un bon grand titre de document
  /DOC
</pre>
<p>Noter que contrairement à markdown, il n'est pas nécessaire de laisser passer des lignes avant et après un titre. On peut tout à fait faire :</p>

<pre class='cadre'>
  DOC/
  ## Grand titre
  ### Sous le grand titre
  #### Et encore un sous-sous-titre
  &lt;p>Un paragraphe&lt;/p>

  #### Un autre sous-sous-titre
  &lt;p>Un autre paragraphe&lt;/p>
  /DOC
</pre>
<p>Noter que l'espace laissé entre les deux sous-sous-titres existera aussi dans le document final. En fait <b>tous les paragraphes vides sont conservés</b> dans ces exemples de documents.</p>
