<%
# Une console pour le programme UN AN

# Réservé aux grands manitous
raise_unless_admin
%>
<form id="form_console" class="" action="unan_admin/console" method="POST">
  <textarea id="console" name="console"><%= param(:console) %></textarea>
  <div class='right'>
    <input type="submit" value="Soumettre" class="btn" style="font-size: 11pt" />
  </div>
</form>
<%
# ---------------- RETOUR ---------------
%>
<%= console.output %>


<hr/>
<dl class="small">
  <%
  # ---------------- AIDES ----------------
  %>

  <dt>check auteurs</dt>
  <dd>Procède à un check des auteurs et notamment à vérifier que les starts soient bien réglés en fonction des changements de rythme.</dd>
  <dt>check auteur &lt;référence auteur&gt;</dt>

  <dd>Procède au check seulement pour cet auteur.</dd>
  <dd>La référence peut se faire par l'ID ou par le pseudonyme.</dd>

  <dt>new page narration &lt;page-id>[ &lt;jour-programme>]</dt>
  <dd>Ajoute une page de cours pour une page narration au programme, pour le jour-programme voulu.</dd>
</dl>
