fieldset.tools
  a
    border      : 1px solid
    margin      : 4px
    padding     : 4px 8px
    font-size   : 11.5pt
    display     : inline-block
    width       : 74px
    text-align  : center
    
    &.larger
      width       : 100px