// Fenêtre principale affichant les informations sur le jour courant
div#dad_content
  overflow      : auto
  height        : 460px
  max-height    : 460px
  border        : 1px solid #DDD
  padding       : 1em
  font-size     : 0.8em
  h3
    margin-top    : 0

  div.pday
    div.work
      margin-left     : 0
      font-size       : 0.8em
      line-height     : 1.3em

      &.last_day
        border          : 2px solid red
      &.first_day
        border          : 2px solid green

      div.div_titre
        span.titre
          font-weight   : bold
        &:before
          top             : -11px
      div.travail
        margin-left       : 4em
  // DIV contenant les works qui commencent vraiment le jour
  // courant
  div#works_OF_pday
    border              : 1px solid #9ae99a
  // DIV contenant les works qui ont commencé les jours
  // précédents.
  div#works_ON_pday
    border              : 1px solid #FFCFCF

// Fenêtre supérieure indiquant l'état au jour affiché
div#dad_state
  font-size           : 11pt
  padding             : 4px 1em
  font-family         : Arial, Helvetica
  margin-top          : 0px !important

// Section des boutons pour passer de jour en jour
div#dad_navigation
  margin-top      : 1em
  text-align      : right
  vertical-align  : middle
  a.btnnav
    font-size       : 28pt
    vertical-align  : middle
  form
    display         : inline-block
    font-size       : 12pt
    vertical-align  : middle
    select
      vertical-align  : middle
      font-size       : 21.6pt
      padding         : 1px 4px 1px 18px
      border          : 0
      option
        padding         : 1px 0px 1px 4px
