<%
# Pour l'affichage du programme version programme.txt
%>
<div class="right">
  <%= lien.edit_file((UnanAdmin.folder.expanded_path + '/PROGRAMME_MAP.TXT'), titre: 'Ouvrir le fichier data') %>
</div>
<div class="btns small">
  <%
  # Champ pour entrer un segment de jour-programme et l'afficher
  %>
  <span>Voir le(s) jour(s)-programme(s)</span>
  <input type="text" name="jp" id="jp" value="" onkeydown="if(event.keyCode == 13){MapProgramme.show_jp()}">
  <input type="button" name="name" value="Afficher" onclick="MapProgramme.show_jp()">
</div>

<%= UNANProgramme.instance.formulaire_search %>
<% if param(:operation) == 'search' %>
  <%= UNANProgramme.instance.search %>
<% else %>
  <%= UNANProgramme.instance.map_html %>
<% end %>
