div#calendrier
  margin-top        : 2em
  div.month_mark
    font-weight       : bold
    margin-top        : 1em
    padding-left      : 1em
    font-family       : Arial, Helvetica
    font-size         : 13.6pt
    text-align        : center
    letter-spacing    : 6px
    border-bottom     : 1px solid #7D7D7D
    color             : #7D7D7D
  
  // Partagé par les jours dans le calendrier et les marques
  // du nom des jours de la semaine (lundi, mardi, etc.)
  div.calday, div.wday
    display           : inline-block
    position          : relative
    width             : 14%
    text-align        : center
    font-family       : Arial, Helvetica
    font-size         : 13.6pt
    border-width      : 1px
    border-style      : solid

  // Propre au marque de jours-semaine (lundi, mardi, etc.)
  div.wday
    height            : 1.3em
    color             : #b7b7b7
    border-color      : transparent
    
  // Un jour dans le calendrier
  div.calday
    height            : 4em
    border-color      : inherit

    // La marque du nombre du jour dans le mois
    span.mday
      position              : absolute
      right                 : 6px
      top                   : 10px
      font-size             : 32pt
      color                 : #BEBEBE

    // Les divs vident du début de mois, pour atteindre le bon
    // premier jour-semaine
    &.empty
      background-color      : #FCFCFC
      border-color          : #FCFCFC
      
    // Div principal du jour courant
    &.tod
      background-color      : green
    // Divs principaux des jours précédents le
    // jour courant
    &.beftod
      background-color      : #aeffce
      opacity               : 0.5
      &:hover
        opacity               : 1
    // Div principaux des jours suivants le jours
    // courant.
    &.afttod
      background-color      : #AAF
      opacity               : 0.6
      span.mday
        color                 : #f1f1f1
      &:hover
        opacity               : 1
      
