<%= Unan::Aide::titre("Au quotidien") %>

<p>
  La journée d'un auteur suivant le programme “Un An Un Script” commence par la <em>réception d'un mail lui indiquant son travail de la journée</em>.
</p>
<p class='small'>
  Noter que ce mail peut n'être envoyé qu'aux changements de travaux si <%= Unan::lien_aide(:preferences, "les préférences") %> sont réglées dans ce sens.
</p>
<p>
  Si un nouveau travail doit être démarré, l'auteur doit confirmer en rejoignant son <%= Unan::lien_aide(:bureau) %> qu'il commence effectivement son travail.
</p>
