<%= Unan::Aide::titre("Bureau de travail") %>

<p>
  Lorsque vous êtes inscrit<%= f_e %> au programme “Un An Un Script”, vous possédez un bureau de travail sur le site.
</p>
<p>
  Ce bureau est le “centre névralgique” de votre activité. Il vous permet de connaitre votre travail, de suivre votre évolution, d'enregistrer vos questions, de suivre toute votre activité.
</p>
