<%= Unan::Aide::titre("Bureau de travail") %>

<p>
  Lorsque vous êtes inscrit<%= f_e %> au programme “UN AN UN SCRIPT”, vous possédez un bureau de travail sur le site, appelé “Centre de travail”.
</p>
<p>
  C'est le “centre névralgique” de votre programme. Il vous permet de connaitre votre travail, de suivre votre évolution jour après jour, de régler vos préférences, de poser des questions, de prendre connaissance des pages de cours que vous avez à lire, bref d'accomplir toutes les actions que peut demander le programme.
</p>
<p>
  N'hésitez pas à visiter chaque onglet pour prendre connaissance de son contenu.
</p>
