<%
# Vue pour l'aide sur le programme UN AN
%>
<p class='small italic'>Vous pouvez consulter ou télécharger le manuel d'utilisation du programme <%= Unan::PROGNAME_MAJ %> au format PDF.</p>
<iframe src="./objet/unan/aide/manuel/UAUS_Manuel_vH.pdf" width="100%" height="1000px"></iframe>
