<%
# Panneau des messages du forum à lire
%>
<% if missing_data %>
<% end %>

<% if works.count == 0 %><%= message_si_aucun_travail %><% end %>
<% if messages_forum.count > 0 %>
  <p>
    Les messages ne sont pas encore affichés par cette méthode.
  </p>
<% else %>
  <%# Aucun message à lire, valider ou répondre %>
  <p class='big air'>
    Vous n'avez aucun message forum à consulter, valider et vous n'avez aucune réponse à donner. N'hésitez cependant pas à faire un petit tour sur <%= Unan::lien_forum("le forum") %>.
  </p>
<% end %>
