<%
# Panneau des messages du forum à lire
%>

<%= Unan::titre_h2 %>

<p style="line-height:1.9em;font-size:15.8pt">
  Le programme <strong><%= Unan::PROGNAME_MAJ %></strong> n’est plus en service.
</p>
