<%
# Panneau des messages du forum à lire
%>

<section>
  <p>
    Pour le moment, aucune action forum n'est mise en place.
  </p>
  <p>
    Plus tard, ici, vous pourrez trouver des suggestions de messages à lire ou d'action à faire sur le forum, comme proposer un de vos textes en lecture.
  </p>
</section>
