<%
# Panneau des pages de cours à lire
%>
<p class='small right'>Retrouvez ici toutes les pages de cours à lire.</p>

<% if works.count == 0 %><%= message_si_aucun_travail %><% end %>

<% if pages_cours.count > 0 %>

  <% pages_cours.each do |page| %>
    <%#= page.output_bureau %>
  <% end %>

<% else %>
  <%# Aucune page de cours à lire %>
  <p>Vous n'avez aucune page de cours à lire. Vous pouvez peut-être en profiter pour feuilleter les livres en ligne de la <%= Unan::lien_collection_narration %><% if last_pages_cours.count > 0 %> ou revoir une des pages précédentes<% end %>.</p>
  <% if user.program.created_at > (NOW - 7.days) %>
    <p>Puisque vous êtes au début de votre travail sur ce programme, vous pouvez également <%= Unan::lien_aide(:home, "consulter l'aide") %> pour mieux comprendre son fonctionnement et ses principes.</p>
  <% end %>
<% end %>
<% if last_pages_cours.count > 0 %>

  <h3>Dernières pages de cours lues</h3>

  <% last_pages_cours.each do |page| %>
    <%#= page.output_bureau %>
  <% end %>

<% end %>
