<%
# Panneau des pages de cours à lire
#
# Note : Ce panneau est spécial, il contient trois sections :
#         - la première présente les pages à lire pas encore lues (status 0)
#         - la deuxième présente les pages lues une première fois (status 1)
#         - la troisième présente les pages terminées             (status 9)
#           ou mise de côté pour lecture                          (status 3)
#
%>
<% if bureau.pday < 20 %>
  <p class='small right'>Retrouvez ici toutes les pages de cours à lire.</p>
<% end %>

<%= bureau.section_unstarted_works(:page) %>
<%= bureau.section_undone_works(:page) %>
<%= bureau.section_recent_works(:page) %>
