<%
# Panneau des pages de cours à lire
%>
<p class='small right'>Retrouvez ici toutes les pages de cours à lire.</p>

<% if works.count == 0 %><%= message_si_aucun_travail %><% end %>

<% if pages_cours.count > 0 %>

  <% pages_cours.each do |page| %>
    <%#= page.output_bureau %>
  <% end %>

<% end %>
<% if last_pages_cours.count > 0 %>

  <h3>Dernières pages de cours lues</h3>

  <% last_pages_cours.each do |page| %>
    <%#= page.output_bureau %>
  <% end %>

<% end %>
