<%
# Panneau des questionnaires à remplir
%>

<%
#
# SE SERVIR DU CODE CI-DESSOUS POUR CONSTRUIRE LE FORMULAIRE DU
# QUIZ.
#
%>
<% if missing_data %>
<%# Les missing-data, ici, correspondent certainement aux questionnaires en retard. %>
<% end %>

<% if works.count == 0 %>
  <%= message_si_aucun_travail %>
<% elsif has_quiz? %>
  <% quizes.each do |iquiz| %>
    <%= iquiz.output_in_container %>
    <%
    # Si le questionnaire était en correction, c'est qu'il faut
    # maintenant le supprimer. Rappel : Si on le fait avant, il ne
    # se trouverait plus dans la liste des quizes et la version corrigée
    # du questionnaire ne serait donc pas affichée ici.
    if iquiz.correction?
      iquiz.mark_work_done
    end
    %>
  <% end %>
<% else %>
  <%# Aucun quiz (mais d'autres travaux) %>
  <p class='big air'>Vous n'avez aucun questionnaire ni aucun quiz à remplir. Mais rassurez-vous, ça ne saurait tarder bien longtemps…</p>
  <%
  # TODO Proposer quelques questions.
  %>
<% end %>
<section id="completed_works">
<% if last_quiz.count > 0 %>
  <h3>Questionnaires récemment achevés</h3>
  <%= last_quiz.collect { |iquiz| iquiz.output_simple }.join %>
<% else %>
  <p class='small discret'>Aucun questionnaire récent n'a été rempli.</p>
<% end %>
</section>
