<%
# Panneau de l'état général
%>

<div class="row">
  <span class="libelle">Jour-programme courant</span>
  <span class="value">XXX</span>
</div>
<div class="row">
  <span class="libelle">Jour réel courant</span>
  <span class="value">XXX</span>
</div>
