<p class='small right'>
  Retrouvez tous les jours ici le travail que vous avez à accomplir.
</p>

<% if tasks.count > 0 %>
  <%= tasks.collect { |iwork| iwork.output }.join %>
<% else %>
  <p>Vous n'avez aucun travail courant. C'est étrange, mais cela peut arriver. Puis-je vous conseiller d'aller faire un tour au parc ou en forêt ?</p>
<% end %>
