<%
# Note : C'est le programme qui est bindé à cette vue
%>
<% if bureau.pday < 20 %>
  <p class='small right'>
    Retrouvez dans votre bureau, chaque jour, le travail que vous avez à accomplir.
  </p>
<% end %>

<%= bureau.section_unstarted_works(:task) %>
<%= bureau.section_undone_works(:task) %>
<%= bureau.section_recent_works(:task) %>
