textarea#console
  background-color  : black
  color             : white
  font-family       : Courier
  font-size         : 15.3pt
  height            : 160px
  width             : 100%
  overflow          : auto
  resize            : none

div.code
  display           : inline-block
  clear             : both
  font-family       : Courier
  font-size         : 13.3pt
  background-color  : #353535
  color             : white
  padding           : 3px 12px 4px