<%
=begin
  L'user rejoint cette section lorsqu'il a marqué des points
  d'abonnement gratuits.

  Les valeurs doivent être contenues dans :

    :nombre_points_gratuits
    :session_id_points_gratuits (l'id de session doit correspondre)
    :raison_points_gratuits       La raison des points gratuits

=end
%>
<h1>Bravo à vous !</h1>
<%= cadeau.output if cadeau.available? %>
