<%
# Liste des sujets du forum
%>
<%= forum.titre_h1("Sujets") %>
<%= forum.onglets %>

<ul id="forum_topics">
  <%= forum.sujets.as_list %>
</section>

<%
if user.grade >= 5
  # Il peut initier un sujet
%>
<div class="right">
  <%= Forum::Sujet::new_sujet_form %>
</div>

<% end %>
