ul#sujetsavalider, ul#messagesavalider
  list-style  : none
  font-size   : 0.88em
  li.item
    div.specs
      span.titre
        font-weight   : bold
      span.auteur
        font-size     : 0.9em
        font-style    : italic
        margin-left   : 1em
    div.edition
      margin-top     : 0.5em
