<%
# Accueil de la section du chantier d'analyse

AnalyseBuild.require_module 'depot'

page.title = "Chantier analyses"
page.description= "Chantier des analyses de films, pour traiter les fichiers de collecte des analystes."
enable_comments

%>
<%= AnalyseBuild.titre_h2('Accueil') %>
<% if user.analyste? || user.admin? %>
  <%=
    (
      'Dépôt de fichiers'.in_a(href: 'analyse_build/depot', class: 'cadre') +
      'Extraction'.in_a(href: 'analyse_build/extract', class: 'cadre') +
      'Outils collecte'.in_a(href:'analyse/collecteur', class: 'cadre')
    ).in_div(class: 'center') %>

  <%# --------------------------------------------------------------------- %>
<%
=begin

  Si un dossier d'utilisateur existe, on regarde si on peut lui proposer
  de faire quelque chose, par exemple de parser des fichiers d'analyse.

=end
%>
  <% if AnalyseBuild.user_folder_tmp.exist? %>
    <h3>Fichiers déposés</h3>
    <p class='small italic'>
      Votre dossier d'analyse temporaire courant contient les films suivants. Cliquez le titre du film que vous voulez traiter.
    </p>
    <% AnalyseBuild.user_films_tmp.each do |film| %>
      <%= film.titre.in_a(href: "analyse_build/#{film.id}/depot").in_div %>
    <% end %>
  <% end %>

<% else %>
  <%= Analyse::Depot.output_as_common_user %>
<% end %>
