<%
# Affichage d'un jour programme
#
# C'est la vue qui affiche, un jour donné, tout le travail fait et à faire
# C'est donc un mix entre le travail absolu et le travail exécuté par l'auteur
# à ce moment du programme.
#
%>
<h1>Affichage du programme-jour</h1>


<%
# TODO: Information sur le p-jour
# TODO: Durée du travail (`duree_absolue` par le `rythme` du programme)
%>

<%
# TODO: Peut-être une question à la volée à faire apparaitre
%>
