<%
# Vue de confirmation du rapatriement de la Database distante
%>
<%= Scenodico::titre_h1("Download base de données") %>

<h3>Check synchro du fichier <%= rfile.path.inspect %></h3>

<% site.require_module 'remote_file' %>
<%= RFile::new("./database/data/scenodico.db").
    bloc_synchro(action: "scenodico/download", verbose:true) %>
