<%
# Page d'accueil du scénodico
%>
<%= Scenodico::titre_h1 %>
<p>
  Bienvenue dans le <strong>Scénodico</strong>, le parfait dictionnaire du scénariste et de l'auteur.
</p>
<p>
  <%= "Dictionnaire".in_a(href:'scenodico/list') %>
</p>
