<%
# Page d'accueil du scénodico
%>
<%= Scenodico::titre_h1 %>
<p>
  Bienvenue dans le <strong>Scénodico</strong>, le parfait dictionnaire du scénariste et de l'auteur.
</p>
<p>Pour retrouver un mot, vous pouvez utiliser l'onglet <%= "Dictionnaire".in_a(href:'scenodico/list') %> ou l'onglet <%= "Recherche".in_a(href:'scenodico/search') %>. Si vous désirez proposer un mot inconnu du scénodico, utilisez l'onglet <%= "Proposer".in_a(href:'scenodico/proposer') %>.
</p>
<p class='small italic right'>Merci à Marion pour ses nombreuses corrections.</p>
