<%
# Vue pour l'affichage de la liste des mots comme un
# dictionnaire avec un panneau par lettre.
page.description= "Liste de tous les termes du dictionnaire d'écriture, pour connaitre tous les termes de l'auteur : le <strong>Scénodico</strong>."

enable_comments

# On indique que c'est une collection d'objet
page.is_collection
%>
<%= Scenodico.titre_h2("Dictionnaire") %>
<%= Scenodico.in_panneaux %>
<p class='tiny discret' style="margin-top:1em; border-top:1px solid #999">
  Le <strong>Scénodico</strong> contient à l'heure actuelle <strong><%= Scenodico::count %> mots</strong>.
</p>
