<%
# Page pour rejoindre tous les quizes sur le scénodico
%>
<%= Scenodico.titre_h1('Quizzz') %>
<p class="air cadre">
  Cette page n'est pas encore implémenté. Elle doit affichée la liste des quiz concernant le scénodico.
</p>
<%
=begin
  En fonction des privilèges du visiteur, il aura accès à certaines choses
=end
%>

<%
# Message sur les privilèges en fonction du visiteur
%>
<p class="small italic">
  <% if user.authorized? %>
    En tant qu'auteur autorisé, vous avez accès à tous les quiz du scénodico.
  <% else %>
    Vous n'êtes pas abonné<%= user.f_e %>, vous n'avez donc accès qu'au <%= 'dernier quiz'.in_a(href: "quiz/show") %>.
  <% end %>
</p>
