<%= Unan::titre_h1("Aide") %>
<p class="small italic">
  Vous pouvez ici charger le manuel d'utilisation du programme UN AN UN SCRIPT qui vous donne toutes les informations nécessaires pour suivre le programme.
</p>

<%
if param(:operation) == 'charger_manuel_homme'
  rf = SuperFile::new('./objet/unan/aide/manuel/UAUS_Manuel_vH.pdf')
  rf.download
elsif param(:operation) == 'charger_manuel_femme'
  rf = SuperFile::new('./objet/unan/aide/manuel/UAUS_Manuel_vF.pdf')
  rf.download
end
%>

<div class="double_colonnes">
  <div class="left_colonne center middle" style="height:112px">
    <% href = site.route.to_str + "&operation=charger_manuel_femme" %>
    <%= "Manuel pour les filles".in_a(class:'big', href:href).in_p %>
  </div>
  <div class="right_colonne center middle" style="height:112px">
    <% href = site.route.to_str + "&operation=charger_manuel_homme" %>
    <%= "Manuel pour les hommes".in_a(class:'big', href:href).in_p %>
  </div>
</div>
<p class='small italic'>
  Rassurez-vous, ces deux manuels sexués sont strictement identiques dans leur contenu, seul les accords se font suivant le genre de la lectrice/du lecteur.
</p>
