<%
# Accueil de la section Filmodico
%>
<%= Filmodico::titre_h1 %>
<p class='exergue'>
  Bienvenue dans le <strong>Filmodico</strong>, le dictionnaire des films.
</p>
<p>
  Utilisez les onglets ci-dessus pour voir la liste complète des films, faire ou recherche ou plus encore.
</p>
