<%# Vue pour la liste complète des films %>
<%
page.title = "Filmodico"

enable_comments
%>
<%= Filmodico::titre_h1("Dictionnaire") %>
<%= Filmodico::as_panneaux %>
<p class='tiny discret' style="margin-top:1em; border-top:1px solid #999">
  Le <strong>Filmodico</strong> contient à l'heure actuelle <strong><%= Filmodico::count %> films</strong>.
</p>
