// Une fiche film (pour remettre la couleur en noir car dans
// le texte, .film est en bleu clair)
section#content > div.film
  color : black !important

div.film
  width         : 800px !important
  div.affiche
    float         : left
    margin        : 0 2em 2em 0
    img
      max-width     : 166px
  div.titre
    font-size     : 1.4em
  div.titre_fr
    font-size     : 0.85em
    font-style    : italic
  div.resume
    font-size     : 1em
    font-style    : italic
    padding       : 1em
    border-left   : 1px solid #777
    margin-left   : 12em
    margin-top    : 1em
    line-height   : 1.5em

  div.people, div.infos
    div.libval
      margin      : 0.5em 0
    span.libval
      white-space : nowrap
    .libval
      span.libelle
        margin-right        : 0.5em
        font-size           : 0.85em
      span.value
        margin-right        : 1.5em
    // La liste des acteurs, façon imdb
    div.actor
      span.actor, span.perso
        display   : inline-block
        vertical-align : top
        width     : 200px
      span.actor
        margin-left : 4em
        text-align  : left
      span.perso
        font-size       : 0.85em
        text-align      : left
        vertical-align  : bottom

  div.infos
    font-size           : 0.85em
    margin-top          : 1em
    text-align          : right
  div.people
    margin-top          : 1em
    margin-left         : 6em
