<%
# Vue de confirmation du rapatriement de la Database distante
%>
<%= Filmodico::titre_h1("Download base de données") %>
<%
site.require_module 'remote_file'
def rfile
  @rfile ||= RFile::new("./database/data/filmodico.db")
end
%>

<h3>Check synchro du fichier <%= rfile.path.inspect %></h3>
<%= rfile.bloc_synchro(action: "filmodico/synchro", verbose:true) %>
