<%
# Vue de confirmation du rapatriement de la Database distante
%>
<%= Filmodico::titre_h1("Download base de données") %>
<p>
  Obsolète. Utiliser maintenant le <%= "tableau de bord des synchronisations".in_a(href:"admin/sync") %>.
</p>
