<%
# Mail envoyé à l'administration lorsqu'un auteur est en
# dépassement.
%>
<p>Phil,</p>
<p>Voici le rapport de changement de jour-programme du <%= NOW.as_human_date(true, true) %>.</p>

<%= path_rapport_admin.read %>
