<%
# Réglage du rythme
%>
<%= Unan::Aide::titre("Réglage du rythme") %>

<p class='bold'>Aperçu rapide de la procédure</p>
<ol class='procedure'>
  <li>Rejoignez <%= Unan::lien_bureau("votre centre de travail") %></li>
  <li>Choisissez l'onglet “Préférences”</li>
  <li class='resultat'>-> Le panneau des préférences s'affiche</li>
  <li class='main_action'>Dans la section “Projet” des préférences, réglez le menu “Rythme” à la valeur souhaitée</li>
  <li class='resultat'>Le rythme du programme est réglé et s'applique dès à présent.</li>
</ol>

<h3>Explication du rythme</h3>

<h4>Le rythme par défaut</h4>
<p>
  Par défaut, le rythme du programme est un rythme “moyen” qui fait correspondre les “jours réels” et les “jours-programme”.
</p>
<p>
  Dans ce rythme moyen, <code>1 jour réel = 1 jour-programme</code> et le programme complet se fait en exactement <strong>un an</strong>. Plus on ralentit le rythme et plus la durée sera longue, donc plus vous pourrez prendre de temps pour réaliser au mieux les différents travaux.
</p>
<h4>Quand changer de rythme ?</h4>
<p>
  Il ne faut changer de rythme que si vous notez un problème au niveau du rythme de travail. Si vous ne parvenez pas à consulter les fiches de cours, à répondre aux questionnaires, à rédiger les travaux demandés, etc. dans le temps imparti, alors il est peut-être bon de baisser le rythme. Si au contraire vous devez attendre trop longtemps avant d'aborder une nouvelle étape de travail, il est peut-être bon d'accélérer ce rythme.
</p>
<p>
  En règle générale, vous devriez changer de rythme en fonction du temps que vous pouvez accorder à votre apprentissage et à votre développement. Le rythme moyen est pensé pour un auteur qui travaillerait environ 1 heure par jour. Si vous pouvez consacrer moins de temps à votre écriture, baissez ce rythme. Si vous pouvez en consacrer plus, vous pouvez <em>peut-être</em> l'augmenter un peu.
</p>
<p>
  Dans tous les cas, prenez garde de vouloir aller trop vite pour en finir plus tôt, ou de trop trainer sur les étapes de travail. Dans les deux cas, vous y perdriez beaucoup. L'idéal est de choisir un rythme suffisamment soutenu pour maintenir l'intérêt et suffisamment souple pour laisser le temps de bien comprendre les notions apprises et bien concevoir les travaux demandés.
</p>
<p>
  <%= bureau.lien_preferences("Rejoindre le panneau des préférences sur votre bureau") %>.
</p>
