<%
# Console administrateur
#
raise_unless_admin
%>
<form action="admin/console" method="POST" charset="UTF-8">
<textarea id="console" name="console" onreturn="this.form.submit()"><%= console.new_code %></textarea>
</form>

<%= console.output.nil_if_empty || "Penser à utiliser `aide &lt;sujet&gt;` pour obtenir de l'aide sur un sujet, `aide sujets` pour obtenir la liste des sujets.".in_span(class:'tiny') %>
<div id="special_output"><%= console.special_output %></div>

<div class="right">
  <%= "Aide".in_a(onclick:"$('div#console_aide').toggle()") %>
</div>
<div id="console_aide" style="display:none">
  <p>
    Pour obtenir de l'aide, taper `<code>help</code>` ou `<code>aide</code>` dans la console ou `<code>help|aide &lt;sujet&gt;</code>`.
  </p>
  <p>
    Pour obtenir la liste des sujets, utiliser `<code>help|aide sujets</code>`.
  </p>
</div>
<% debug "<- console.erb" %>
