textarea#console
  background-color  : black !important
  color             : white !important
  font-family       : Courier
  font-size         : 15.3pt
  height            : 400px
  width             : 98%
  padding           : 12px
  overflow          : auto
  resize            : none

div.code
  display           : inline-block
  clear             : both
  font-family       : Courier
  font-size         : 13.3pt
  background-color  : #353535
  color             : white
  padding           : 3px 12px 4px
  
  
div#special_output
  padding           : 2em
  font-family       : Courier
  font-size         : 16pt
  background-color  : #DEDEDE
  margin            : 1em
  text-align        : left
  