textarea#console
  background-color  : black !important
  color             : white !important
  font-family       : Courier
  font-size         : 15.3pt
  height            : 400px
  width             : 98%
  padding           : 12px
  overflow          : auto
  resize            : none
  &.reduite
    height            : 40px !important

// Span pour écrire la longueur du code
span#longueur_code 
  position      : absolute
  font-size     : 11.2pt
  right         : 0

div.code
  display           : inline-block
  clear             : both
  font-family       : Courier
  font-size         : 13.3pt
  background-color  : #353535
  color             : white
  padding           : 3px 12px 4px
  
  
div#special_output
  padding           : 2em
  font-family       : Courier
  font-size         : 16pt
  background-color  : #DEDEDE
  margin            : 1em
  text-align        : left
  
  // Pour les tâches --------------------------------------
  
  // Tâches en dépassement d'échéance
  fieldset.overrun
    background-color  : #FCC
    legend
      color     : red

  fieldset
    legend
      color             : #006080
      font-family : arial
      font-size      :  14.1pt
    
  // Le fieldset pour les tâches de la journée
  fieldset.today
    margin-bottom     : 2em
    background-color  : #CCF

  fieldset.proche
    background-color  : #EEF
    margin-bottom       : 4em
  
  fieldset.futur, fieldset.sans_echeance
    background-color  : white