div#admin_tools
  div.admin_tool
    border          : 1px solid
    border-radius   : 1em
    padding         : 0.5em 1em
    margin          : 1em 0
    display         : inline-block
    vertical-align  : middle
    text-align      : center
    a
      vertical-align  : middle
      display         : block
