<%
# Panneau de gestion de toutes les synchronisations
#
# Ce panneau permet de voir les fichiers à synchroniser et à gérer
# leur synchronisation.
# Seuls les fichiers de l'application ne sont pas testés par ce programme
raise_unless_admin

# Si une opération est à faire, il faut l'invoquer
#
if site.current_route.route == "admin/sync" && param(:operation) != nil
  methode = param(:operation).to_sym
  sync.send(methode) if sync.respond_to?( methode )
end

%>
<%= ::Admin::titre_h1("Synchronisation") %>

<%
# ---------------------------------------------------------------------
#   Boutons
#   permettant d'obtenir l'état de la synchronisation et de lancer
#   les synchronisation nécessaire.
# ---------------------------------------------------------------------
%>
<div class="right btns">
  <%= "Forcer un nouveau check".in_a(href:"admin/sync?operation=force_check_synchro", class:'small') %>
</div>
<hr>
<%
# ---------------------------------------------------------------------
#   État de la synchronisation
#   Produit par les méthodes du fichier ruby
#   L'état des lieux est fait une fois par heure et doit être réitéré
#   à l'aide du bouton si nécessaire.
# ---------------------------------------------------------------------
%>
<%= sync.etat_des_lieux %>

<%
# ---------------------------------------------------------------------
#   Explication du fonctionnement de la section
# ---------------------------------------------------------------------
%>
<hr>
<div class="small">
<h3>Explication et mode d'emploi</h3>
<p>
  Cette section permet de synchroniser tout ce qui peut l'être au niveau des fichiers non traités par la synchronisation normale.
</p>
<p>
  Elle traite les synchronisations spéciales qui nécessitent un traitement des données ONLINE/OFFLINE comme par exemple la table narration (`cnarration.db`) qui doit conserver les données de niveaux de développement qui peuvent être modifiées online ou offline. Ou encore la liste des tâches (dans `site_hot.db`) qui peut être modifiée aussi online ou offline.
</p>
<p>
  Elle gère aussi la synchronisation avec l'atelier Icare, au niveau du Scénodico, du Filmodico et de Narration (collection).
</p>
<p>
  Elle gère aussi la synchronisation des affiches de films, aussi bien sur BOA que sur ICARE.
</p>
</div><!-- fin div principal small -->
