pre#sync_check
  margin-left       : 0 !important
  font-size         : 13pt
  div.file
    vertical-align    : middle
    img.voyant_synchro
      width           : 11px
      margin-right    : 8px
      vertical-align  : middle