<%
raise_unless_admin
%>
<%= Admin::titre_h2("Synchronisation des tâches") %>

<% if user.manitou? %>
<p>
  Pour synchroniser les tâches, utiliser <%= "la tableau de bord de synchronisation".in_a(href:"admin/sync") %>
</p>
<%
# ---------------------------------------------------------------------
# Si l'user n'est pas grand manitou
%>
<% else %>
  <p>Votre niveau d'administration n'est pas suffisant pour avoir accès à cette section.</p>
<% end %>
