<%
# Entête du mail quotidien que reçoit un auteur qui suit
# le programme UN AN pour l'informer de l'état
# de son travail au passage d'un nouveau jour-programme.
%>
<p>Bonjour <%= auteur.pseudo %>,</p>
<p class='small italic'>
  Veuillez trouver ci-dessous le rapport de votre travail sur le programme <%= Unan::PROGNAME_MAJ %> de <a href="<%= site.distant_url %>"><%= site.name %></a>.
</p>
