<%
# Vue pour le profil de l'administrateur
%>
<fieldset id="section_admin">
  <legend>Section administration</legend>
  <ul>
  <li>Rejoindre le <%= "tableau de bord du programme Un An Un Script".in_a(href:"unan_admin/dashboard") %>.</li>
  <li> <%= "Tableau de bord Collection NARRATION".in_a(href:"cnarration/home") %> </li>
  </ul>
</fieldset>
