<%
# Vue chargée lorsque l'user a pu s'inscrire
%>
<h1>Bienvenue</h1>
<p>
  Heureux de vous compter parmi les auteurs de la “Boite à outils”. Pour le moment, vous ne pouvez pas encore utiliser les outils, tant que vous n'avez pas <a href="user/<%= user.id %>/paiement">régler votre annuité</a>. <a href="user/<%= user.id %>/paiement">Merci de le faire</a> pour profiter de tous les outils du site et vous lancer dans l'écriture de votre scénario.
</p>
