<%
# Pour renvoyer un mail de confirmation de mail
#
# Il peut arriver que l'user perde ou jette le message de confirmation
# de son adresse-mail. Lorsqu'il essaie de se reconnecter, un message
# d'erreur lui est donné, qui lui permet de se rendre ici pour qu'un
# nouveau message de confirmation lui soit renvoyé.
#
%>
<h1>Confirmation de votre adresse-mail</h1>
<p class='italic small'>
  Indiquez votre adresse-mail ci-dessous pour recevoir à nouveau un message dans votre boite au lettres virtuelle vous permettant de confirmer votre adresse-mail.
</p>
<p class='italic small'>
  Le message que vous allez recevoir dans votre boite aux lettres virtuelle contient un lien (un texte bleu) qu'il vous suffit de cliquer pour confirmer que vous êtes bien le possesseur de l'adresse-mail.
</p>
<form class="dim2080" action="user/new_mail_confirmation" method="POST">
  <%= 'send_mail_confirmation_mail'.in_hidden(name: 'operation') %>
  <div class="row">
    <span class="libelle">Votre mail</span>
    <span class="value">
      <input type="text" name="user_mail" id="user_mail" placeholder="Votre mail" value="" />
    </span>
  </div>
  <%= 'Envoyer la mail de confirmation'.in_submit(class: 'btn').in_div(class: 'buttons') %>
</form>
