<%
# Vue principale du manuel pour la rédaction des analyses
%>
<%= FilmAnalyse::titre_h1("Manuel de consultation") %>

<a href="./objet/analyse/manuel/Manuel_Analyste-2016.pdf">Manuel de consultation des analyses</a>

<iframe src="objet/analyse/manuel/Manuel_Analyste-2016.pdf" width="100%" height="800px"></iframe>
