<%
# Vue pour le manuel d'analyse
%>
<%= FilmAnalyse::titre_h2("Manuel d'utilisation") %>

<%
case param(:operation)
when 'charger_manuel_femme'
  rfile = SuperFile::new('./objet/analyse/manuel/Manuel_Analyste-2016.pdf')
  rfile.download
when 'charger_manuel_homme'
  rfile = SuperFile::new('./objet/analyse/manuel/Manuel_Analyste-2016.pdf')
  rfile.download
end
%>
<div class="air"></div>

<div class="double_colonnes">
  <div class="left_colonne center middle" style="height:112px">
    <% href = site.route.to_str + "&operation=charger_manuel_femme" %>
    <%= "Manuel femme".in_a(class:'big', href:href).in_p %>
  </div>
  <div class="right_colonne center middle" style="height:112px">
    <% href = site.route.to_str + "&operation=charger_manuel_homme" %>
    <%= "Manuel homme".in_a(class:'big', href:href).in_p %>
  </div>
</div>
