<p>
  Pour créer une nouvelle analyse, vous devez avoir le grade suffisant, c'est-à-dire le grade d'<strong>Analyste confirmé</strong>.
</p>
<p>
  Avec ce grade, dans votre bureau, vous trouvez un formulaire permettant de définir la nouvelle analyse. Assurez-vous bien que cette analyse n'est pas encore lancée par un autre analyste en consultant la liste des analyses en cours (dont vous pouvez atteindre la liste depuis ce formulaire justement).
</p>
