<%= Unan::Aide::titre("S'occuper des travaux") %>
<p>
  Les travaux autres que les pages de cours, les quiz, etc. s'affichent dans l'onglet “Tâches” de votre Centre de travail.
</p>
<p>
  En tout premier lieu, lorsque vous avez de nouvelles tâches, vous devez <strong>les démarrer</strong>
</p>
<p class='small italic'>Notez que même si vous ne démarrez pas une tâche, son temps s'écoulera quand même. On ne peut pas retarder le démarrage d'une tâche pour retarder son exécution, chaque tâche doit être accomplie en temps et en heure. ;-) En réalité, “démarrer une tâche” ne vise qu'à informer le programme que vous avez bien pris en compte le nouveau travail demandé et que vous allez l'exécuter.
</p>
