<%= Unan::Aide::titre("Définition des travaux") %>
<p>
  Les “travaux” sont toutes les actions que vous avez à accomplir au cours du programme “UN AN UN SCRIPT”. Parmi ces travaux, on trouve par exemple :
</p>
<ul>
  <li>Lire une page de cours ;</li>
  <li>Rédiger des documents de travail concernant votre projet ;</li>
  <li>Répondre à un questionnaire de renseignement ;</li>
  <li>Faire un QCM de validation des acquis ;</li>
  <li>Répondre à des messages sur le forum ;</li>
  <li>Analyser un de vos travaux grâce aux outils proposés…</li>
</ul>
<p>
  C'est une liste non exhaustive et de nombreux autres types de travaux peuvent être accomplis pour atteindre le but de ce programme : la rédaction d'un scénario ou d'un manuscrit.
</p>
<p>
  Ces travaux sont classés en <em>grands types</em> comme vous pouvez <%= Unan::lien_aide("works/types", "le lire sur cette page d'aide") %>.
</p>
