<%= Unan::Aide::titre("Types de travaux") %>
<h4>Grands types de travaux</h4>
<p>
  <%= Unan::lien_aide('works/home', "Les travaux") %> sont classés en trois grands types :
</p>
<ul>
  <li>Les <strong>lectures de pages de cours</strong> — ces travaux concernent principalement votre apprentissage de la narration ;</li>
  <li>Les <strong>questionnaires et autres quiz</strong> qui permettent notamment de valider vos acquis au fil du programme, ou de procéder à des checks réguliers de votre projet ;</li>
  <li>Les <strong>actions forum</strong> qui concerne le Forum du site ;</li>
  <li>Les actions ou <em>tâches</em> en tout genre qui ne s'intègrent pas dans les travaux précédents, à commencer par la rédaction des documents de travil sur votre projet.</li>
</ul>

<h4>Travaux sur le centre de travail</h4>
<p>
  Sur votre centre de travail, les travaux sont répartis en plusieurs onglets distincts qui reprennent ces grands types de travaux : l'onglet <em>tâches</em>, l'onglet <em>Cours</em> pour les pages de cours à lire ou à relire, l'onglet <em>Forum</em> pour les actions-forum et l'onglet <em>Quiz</em> pour les questionnaires.
</p>
<p>
  Dès qu'un type contient des travaux, le nombre de ces travaux est indiqué dans l'onglet lui-même, après le nom.
</p>
