<%
# Page d'accueil du site
%>
<p>
  Bonjour ! Bienvenue dans la “Boite à outils de l'auteur”, le site entièrement dédié au <strong>développement d'histoires</strong> en tout genre, et tout particulièrement les <strong>films</strong> et les <strong>romans</strong>.
</p>
<p class='small'>
  Pour pouvoir demeurer <strong>indépendant</strong>, pour résister aux épidémies de <strong>publicité</strong> et être néanmoins en mesure de proposer un <strong>contenu de qualité</strong> (dont la conception demande du temps), l'utilisation de certains outils du site requiert un <strong>paiement modique</strong> d'un montant actuel de <strong><%= site.tarif_humain %> à l'année</strong>, prix dérisoire eu égard aux services que rendent <a href="tool/list">les outils proposés</a>.
</p>
<p>
  N'hésitez donc pas à <a href="user/signup">vous inscrire</a> et/ou à <a href="user/paiement">vous abonner</a> !
</p>
