<p>
  Comme vous avez certainement pu le constater, les analyses s'ouvrent dans une fenêtre indépendante du site, autonome. Ceci afin de pouvoir occuper toute la place de la page. En conséquence, il est conseiller de laisser la page originale du site ouverte pour pouvoir y revenir facilement.
</p>
