<p>
  Les “onglets” se trouvent dans la bande supérieure de la fenêtre.
</p>
<p>
  Ils fonctionnent comme des interrupteurs, c'est-à-dire que la partie qu'ils concernent peut-être soit affichée si l'onglet est activé, soit masquée si l'onglet est désactivé.
</p>
<p>
  Ce comportement permet de juxtaposer divers éléments d'analyse.
</p>
<p>
  Mais cela signifie également que lorsque vous avez activé plusieurs onglets dont les contenus remplissent la page, vous pourriez croire que les suivants n'affichent plus rien. En réalité, chaque onglet affiche bien son contenu, mais celui-ci <strong>s'ajoute au bas de la page</strong>.
</p>
