<%
# Page affichée lorsque l'utilisateur essaie de rejoindre une partie
# protégée par `raise_unless_identified` et qu'il n'est pas identifié
%>
<h1>Accès interdit</h1>
<p class='warning access_error'>
  Section réservée aux visiteurs identifiés.
</p>
<p>
  <a href="<%= BOA.rel_signin_path %>">Vous identifier</a> | <a href="<%= BOA.rel_signup_path %>">Vous inscrire</a>
</p>
