<%
# Page affichée lorsque la vue ou le module est protégé par la méthode
# `raise_unless_admin`
%>
<h1>Accès interdit</h1>
<p class='warning'>
  Cette section est réservée à l'administration. Si vous poursuivez sans vous identifier, votre adresse IP sera ajoutée à la liste noire du site.
</p>
<p>
  Merci de <a href="user/signin">vous identifier</a> en tant qu'administrateur si vous désirez poursuivre.
</p>
